<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> 
<!-- image hover effect-->
<link href="catalog/view/javascript/hover-effect-image/main.css" rel="stylesheet">
<!-- image hover effect end-->
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<!-- product zoom start -->
<script src="catalog/view/javascript/zoom/jquery.elevatezoom.js" type="text/javascript"></script>
<!-- product zoom end -->
<!-- Sb Theme Custom javascript Start -->
<script src="catalog/view/javascript/sb-theme/sb-theme-custom.js" type="text/javascript"></script>
<!-- Sb Theme Custom javascript End -->
<!-- animation javascript Start -->
<script src="catalog/view/javascript/animation/custom.js" type="text/javascript"></script>
<link href="catalog/view/javascript/animation/animate.min.css" rel="stylesheet">
<!-- animation javascript End -->
<!--counter start -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<!-- counter end -->
 <!--RTL start -->
     {% if direction == 'rtl' %}
     <link href="catalog/view/theme/default/stylesheet/rtl.css" rel="stylesheet">
     {% endif %}
        <!-- RTL END-->
<!--lightbox -->
    <!--    <script src="catalog/view/javascript/inspire/blog/lightbox-2.6.min.js" type="text/javascript"></script>
       <link href="catalog/view/javascript/inspire/blog/lightbox.css" rel="stylesheet" type="text/css" /> -->
<!--lightbox End-->
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v7.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="100659961710614"
  theme_color="#ed1c24"
  logged_in_greeting="Hi! How can we help you?"
  logged_out_greeting="Hi! How can we help you?">
      </div> 
  <nav id="top">
  <div class="container">
      
    <p class="pull-left hidden-xs  sb-theme-free-ship"> {{ text_authorized }} &nbsp; &nbsp; </p>
    
    {{ language }}
       <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
       <!--  <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li> -->
      
        
        <!-- <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li> -->
        <!-- <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li> -->
      </ul>
    </div>
  </div>
</nav>
<header>
  <div id="static-header">
  <div class="container cmn-h-pd">
    <div class="row">
      <div class="col-sm-3 col-xs-5 t-logo">
        <div id="logo mtop" >{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive rr" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div id="navbar" class="navbar-static-top">
      <div class="col-sm-6 col-xs-12 t-search cntct-services">
         {{ menu }}
      </div></div>
      <div class="col-sm-3 col-xs-6 t-search t-search-1 mtop">
      <!--drop -->
      <ul class="sca" type="none">
        <li class="dropdown header-btns">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="image/catalog/search.png"></a>
          <div class="dropdown-menu my-search">
           {{ search }}
          </div>
        </li>
        <li class="m-cart t-cart header-btns">{{ cart }}</li>
         <li class="dropdown my-account header-btns"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><img src="image/catalog/user.png" alt="user"> <!-- <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <i class="fa fa-angle-down" aria-hidden="true"></i> --></a>
          <ul class="dropdown-menu">
            {% if logged %}
            <li><a href="{{ account }}"><i class="fa fa-address-book-o" aria-hidden="true"></i> {{ text_account }}</a></li>
            <li><a href="{{ order }}"><i class="fa fa-history" aria-hidden="true"></i> {{ text_order }}</a></li>
            <li><a href="{{ transaction }}"><i class="fa fa-retweet" aria-hidden="true"></i> {{ text_transaction }}</a></li>
            <li><a href="{{ download }}"><i class="fa fa-download" aria-hidden="true"></i> {{ text_download }}</a></li>
            <li><a href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}"><i class="fa fa-address-book-o" aria-hidden="true"></i> {{ text_register }}</a></li>
            <li><a href="{{ login }}"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>        
      </ul>
      <!-- drop end-->
      </div>
            
    </div>
  </div>
  </div>

</header>

<script type="text/javascript">  
$(document).ready(function() {
    if (jQuery(window).width() > 767){
    $('#static-header').affix({
        offset: {
           top: $('header').height()
        }
    });
    }
});
</script>
