{{ header }}

<div id="common-home" class="container-fluid">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}"><div class="row">{{ content_top }}{{ content_bottom }}</div></div>
    {{ column_right }}
    
    {# Web Push Notification code start from here #}
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>  
  var config = {
    apiKey: "AIzaSyCIcNM6B7Kg_5P2rVNc-yLGoY1_CLdaMQ4",
    authDomain: "https://c6346cb19029.ngrok.io",
    databaseURL: "https://medinatech-8d215.firebaseio.com",
    storageBucket: "medinatech-8d215.appspot.com",
    messagingSenderId: "185209964071",
  };
  firebase.initializeApp(config);

  const messaging = firebase.messaging();
  messaging
    .requestPermission()
    .then(function () {
      return messaging.getToken()
    })
    .then(function(token) {
      console.log(token);
    })
    .catch(function (err) {
      console.log("Unable to get permission to notify.", err);
    });

  messaging.onMessage(function(payload) {
    
    $(document).ready(function(){
      console.log(payload);
    });
  });

  messaging.onTokenRefresh(() => {
  messaging.getToken().then((refreshedToken) => {
    console.log(refreshedToken)
  }).catch((err) => {
    console.log('Unable to retrieve refreshed token ', err);
  });
  });
</script>
{# Web Push Notification code end here #}

    </div>
</div>
{{ footer }}

<script type="text/javascript">
    /*Start Homepage header JS */
function header() {
    if (jQuery(window).width() > 992) {
        if (jQuery(this).scrollTop() > 400)
        {
            jQuery('header').addClass("fixed");

        } else {
            jQuery('header').removeClass("fixed");
        }
   } else {
   jQuery('header').removeClass("fixed");
   }
}

$(document).ready(function () {
    header();
});
jQuery(window).resize(function () {
    header();
});
jQuery(window).scroll(function () {
    header();
});

/*End Homepage header JS*/
</script>
