    <div class="brand-bg" style="padding-bottom: 115px;">
    <div class="container">
      <div class="main-title wow bounce">
        <h3>{{ text_recommend }}<span>  </span></h3>        
        <div class="main-border"><img src="image/catalog/brder.png" class="center-block img img-responsive"></div>
    </div>
    <div class="row">
    <div id="brand" class="owl-carousel owl-theme arrow-top">
    {% for banner in banners %}
      <div class="text-center">
      {% if banner.link %}
      <a href="{{ banner.link }}">
      <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
      </a>
      {% else %}
      <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
      {% endif %}
      </div>
      {% endfor %}
      </div>
      </div> 
      </div>  
      </div>  


<script type="text/javascript">
    $(document).ready(function() {
    $("#brand").owlCarousel({
    itemsCustom : [
    [0, 2],
    [400, 3],
    [650, 4],
    [768, 5],
    [992, 5],
    [1200, 8],
    ],
             autoPlay: 2000,
            navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            navigation : true,
            pagination:false
    });
    });
</script>