<div id="ocx-facebook-message" class="wait-fbm-{{ display_position }}" data-display-mode="{{ display_mode }}" data-display-position="{{ display_position }}" data-width="{{ width }}" data-height="{{ height }}">
	<div id="ocx-facebook-message-header" class="fbm-{{ display_position }} animated slideInUp">
		{% if display_mode == 'icon' %}
		<a href="{{ plugin_type == 'default' ? 'javascript:void(0)' : fb_messenger_url }}" target="{{ plugin_type == 'default' ? '' : '_blank' }}" class="fbm-icon fbm-trigger" data-toggle="tooltip" title="{{ widget_text }}"></a>
		{% else %}
		<a href="{{ plugin_type == 'default' ? 'javascript:void(0)' : fb_messenger_url }}" target="{{ plugin_type == 'default' ? '' : '_blank' }}" class="fbm-default fbm-trigger"><i class="fa fa-fw fa-comment-o"></i> {{ widget_text }}</a>
		{% endif %}	
	</div>
	
	{% if plugin_type == 'default' %}
	<div id="ocx-facebook-message-chat">
		<div class="fb-page" data-href="{{ fb_page_url }}" data-tabs="messages" data-width="{{ width }}" data-height="{{ height }}" data-adapt-container-width="false" data-small-header="{{ small_header }}" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{ fb_page_url }}"><a href="{{ fb_page_url }}">{{ store_name }}</a></blockquote></div></div>
	</div>
	{% endif %}
</div>	

{% if plugin_type == 'default' %}
<script type="text/javascript"><!--
(function(d){
	var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	js = d.createElement('script'); js.id = id; js.async = true;
	js.src = "//connect.facebook.net/{{ fb_locale }}/all.js#xfbml=1&version=v2.8";
	d.getElementsByTagName('head')[0].appendChild(js);
}(document));	
//--></script> 
{% endif %}