<!--tab start -->
<div class="container">
<div class="main-title">
  <h3>{{ text_trendingProducts }}</h3>
  <div class="main-border"><img src="image/catalog/brder.png" class="center-block img img-responsive"></div>
</div>
<ul class="nav nav-tabs products-tab">
      <li class="active"><a href="#feature" data-toggle="tab">{{ text_featured }}</a></li>
      <li class="tab-fe"><a href="#special" data-toggle="tab">{{ text_special }}</a></li>
      <li><a href="#best" data-toggle="tab">{{ text_bestSellers }}</a></li>
</ul>
<!-- Tab End -->
<!--tab feature-->
<div class="tab-content row">
<div class="tab-pane active" id="feature">

<div class="container">
<div id="feature-product" class="owl-carousel owl-theme arrow-top">
 {% for product in products %}
  <div class="product-layout col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-thumb transition">
      <div class="image">
        <a href="{{ product.href }}">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
        </a>
      </div>
      {% if product.price %}
          {% if product.special %}
               <div class="sale"><img src="image/catalog/sale-sticker.png" alt="sale" class="sale product"></div>
          {% endif %}
      {% endif %}
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p  class="hidden-xs hidden-sm hidden-md hidden-lg">{{ product.description }}</p>
        
        <div class="rating">
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
         {% if review_guest %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax hidden-xs hidden-sm hidden-md hidden-lg">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
           {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="button-group sb-btn-group">                
                {% if review_guest %} <button type="button" class="ad-to-cart" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-basket hidden-lg hidden-md"></i> <span class="hidden-xs hidden-sm">{{ button_cart }}</span></button> {% endif %}
                <button type="button" class="theme-btn theme-btn-w" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>                
                <button type="button" class="theme-btn theme-btn-c" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-refresh"></i></button>
              </div>
    </div>
  </div>
  {% endfor %} 
  </div>
  </div>
    </div>





<script type="text/javascript">
    $(document).ready(function() {
    $("#feature-product").owlCarousel({
    itemsCustom : [
    [0, 1],
    [500, 2],
    [768, 2],
    [992, 3],
    [1200, 4],
    ],
            // autoPlay: 1000,
            navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            navigation : true,
            pagination:false
    });
    });
</script>