{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
         <h1>{{heading_title}}</h1>
      <!--<p>{{text_description}}</p>-->
	 <div class="support-form-wrap">
      <h4>{{text_your_details}}</h4>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
        <!--  <legend>{{text_order}}</legend>-->
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-subject">{{entry_subject}}</label>
            <div class="col-sm-10">
              <input type="text" name="subject" value="{{subject}}" placeholder="{{entry_subject}}" id="input-subject" class="form-control" />
             {% if error_subject %}
              <div class="text-danger">{{error_subject}}</div>
              {% endif %} 
            </div>
          </div>
         <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-choose_department">{{entry_choose_department}}</label>
            <div class="col-sm-10">
              <select name="choose_department_id" id="input-choose_department" class="form-control">
                <option value="">{{text_select}}</option>
          {% for department in departments %}
                
				 {% if department.department_id == choose_department_id %}
                    <option value="{{department.department_id}}" selected="selected">{{department.department}}</option>
                    {% else %}
				 <option value="{{department.department_id}}">{{department.department}}</option>
                
                {% endif %}
				
			{% endfor %}
				
				
				
				
              </select>
              {% if error_choose_department_id %}
              <div class="text-danger">{{error_choose_department_id}}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-message">{{entry_message}}</label>
            <div class="col-sm-10">
              <textarea style="height:195px;" type="text" name="message" value="" placeholder="{{entry_message}}" id="input-message" class="form-control" />{{message}}</textarea>
             {% if error_message %}
              <div class="text-danger">{{error_message}}</div>
            {% endif %} 
            </div>
          </div>
          <div class="form-group ">
             <label class="col-sm-2 control-label" for="input-import">{{entry_file}}</label>
          <div class="col-sm-10">
             
			<input type="file"  name="import[]" />

			 
          </div>
          
          </div>
        </fieldset>
       <div class="pull-right">
            <input type="submit" value="{{button_continue}}" class="btn btn-primary" />
          </div>
      
        
      </form>
	  </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}