{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ text_ticket }}</h1>

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">{{column_subject}}</td>
              <td class="text-left">{{column_department}}</td>
              <td class="text-left">{{column_message}}</td>
              <td class="text-left">{{column_date_added}}</td>
              <td class="text-left">{{text_view}}</td>
              
            
            </tr>
          </thead>
          <tbody>
            
			{% if tickets %}
			
			
			 {% for ticket in tickets %}
            <tr>
              <td class="text-left">{{ticket.subject}}</td>
              <td class="text-left">{{ticket.department}}</td>
              <td class="text-left">{{ticket.message}}</td>
              <td class="text-left">{{ticket.date_added}}</td>
              
              <td class="text-right"><a href="{{ticket.view}}" data-toggle="tooltip" title="{{text_view}}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
            </tr>
           {% endfor %} 
	 {% endif %}
          </tbody>
        </table>
      </div>
    <div class="row">
        <div class="col-sm-6 text-left">{{pagination}}</div>
        <div class="col-sm-6 text-right">{{results}}</div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}