{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-country" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-country" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              
			<input type="hidden" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
			{% for language in languages %}
			  <div class="input-group">
				  <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
				  <input type="text" name="country_description[{{ language.language_id }}][name]" value="{{ country_description[language.language_id]?country_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
			 </div>
              {% if error_name[language.language_id] %}
              <div class="text-danger">{{ error_name[language.language_id] }}</div>
              {% endif %}
            {% endfor %}
			</div>
          </div>
			<div class="form-group">
			  <label class="col-sm-2 control-label" for="input-sort-order"><span data-toggle="tooltip" data-html="true" title="Sort order default value is 0, so put a negative number to appear a country first">Sort Order</span></label>
			  <div class="col-sm-10">
			    <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="0" id="input-sort-order" class="form-control" />
			  </div>
			</div>
		
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-iso-code-2">{{ entry_iso_code_2 }}</label>
            <div class="col-sm-10">
              <input type="text" name="iso_code_2" value="{{ iso_code_2 }}" placeholder="{{ entry_iso_code_2 }}" id="input-iso-code-2" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-iso-code-3">{{ entry_iso_code_3 }}</label>
            <div class="col-sm-10">
              <input type="text" name="iso_code_3" value="{{ iso_code_3 }}" placeholder="{{ entry_iso_code_3 }}" id="input-iso-code-3" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-address-format"><span data-toggle="tooltip" data-html="true" title="{{ help_address_format|escape('html') }}">{{ entry_address_format }}</span></label>
            <div class="col-sm-10">
              <textarea name="address_format" rows="5" placeholder="{{ entry_address_format }}" id="input-address-format" class="form-control">{{ address_format }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_postcode_required }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if postcode_required %}
                <input type="radio" name="postcode_required" value="1" checked="checked" />
                {{ text_yes }}
                {% else %}
                <input type="radio" name="postcode_required" value="1" />
                {{ text_yes }}
                {% endif %}
              </label>
              <label class="radio-inline">
                {% if not postcode_required %}
                <input type="radio" name="postcode_required" value="0" checked="checked" />
                {{ text_no }}
                {% else %}
                <input type="radio" name="postcode_required" value="0" />
                {{ text_no }}
                {% endif %}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}