@media (min-width:992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.pull-left{
    float:right !important;
}
.pull-right{
    float:left !important;
}
.list-unstyled {
    padding-right: 0;
}
.text-right{
    text-align: left;
}
.text-left{
    text-align: right;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
	float: left;
	left: 0;
	margin-left: 0;
}
.list-inline{
    padding-right: 0;
}
.dropdown-menu{
    text-align: right;
}
#top #form-currency .currency-select, #top #form-language .language-select {
    text-align: right;
}
.nav{
    padding-right: 0;
}
.my-account .dropdown-menu{
    left: 0;
    right: auto;
}
/* header */
#menu .dropdown-menu{
    left: auto;
}
#menu .navbar-nav {
    float: right;
    direction: rtl;
}
.navbar-nav > li{
    float: right;
}
/*#search input[type="text"], #search button{
    left: -21px;
    right: auto;
}*/
.my-search{
    left: 0;
    right: auto;
}
#cart-total {
    margin-right: 2px;
}
#top-links .dropdown-menu{
    right: 0;
    left: auto;
}
#menu i {
    margin-right: 4px;
    margin-left: 0;
}
.alert .close {
    float: left;
}
#cart .dropdown-menu {
    left: 0;
    right: auto;
}
.sale .salertl{
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
}
.sale .saleen{
    display: none;
}
@media(min-width: 766px){
    .product-list .salertl{
        position: absolute;
        top: 0;
        right: 19px;
    }
}
/* product */
.product-thumb .button-group button + button {
    border-right: 1px solid #fff;
    border-left: none;
}
/*.product-thumb h4 {
    text-align: right;
}*/
/*.product-thumb .rating {
    float: right;
}
.product-thumb .price {
    text-align: left;
}*/
.product-thumb .button-group button{
    float: right;
}
/* sell banner */
.im1 {
    padding-left: 0;
    padding-right: 15px;
}
.im3, .im5 {
    padding-right: 0;
    padding-left: 15px;
}
.newsle img {
    float: right;
    margin-left: 10px;
}
/* footer */
.footer-up .btn-primary {
    left: 0;
    right: auto;
}
footer h5 .toggle.collapsed::after, footer h5 .toggle::after {
    float: left;
}
.footcontact ul li i {
    margin-left: 5px;
}
#scroll {
    left: 20px;
    right: auto;
    cursor: pointer;
}
@media(min-width: 320px) and (max-width: 767px){
   /* #search button, #search input[type="text"]{
     left: 55px;
    }*/
    #form-currency .dropdown-menu {
        left: 0;
        right: auto;
    }
    .im4{
        padding-right: 0;
        padding-left: 15px;
    }
   /* #cart {
        left: 33px;
        right: auto;
    }*/
}
@media(max-width: 767px){
    .m-cart{
       right: auto;
       top: 32px;
       left: 0;
    }
}
@media(min-width: 500px) AND (max-width:767px){
    .m-cart{
        top: 50px;
    }
}
@media(min-width: 320px) and (max-width: 991px){
    #menu .nav > li > a, #menu .nav > li > span {
        text-align: right
    }
    #menu .dropdown-toggle i {
        float: left;
    }
    #menu i {
        margin-right: 4px;
    }
    #menu .dropdown-inner ul > li {
        padding-right: 0px;
    }
}
#form-currency .dropdown-menu, #form-language .dropdown-menu {
    left: 0;
    right: auto;
}

/* blog */
.blog-date {
    float: right;
}
.blog_comment {
    float: right;
}
.inspire_blog_page .read-more {
    float: right;
}
.blog_links .fa {
    margin-left: 5px;
    margin-right: auto;
}
.blog-right{
    text-align: right;
}
/* produc page */
.zoomWindow {
    right: 547px;
    left: auto !important;
}
.productwish button {
    margin-left: 10px;
    margin-right: 0;
}
.productwish {
    left: 6px;
    right: auto;
}
.breadcrumb > li::after {
    right: auto;
    left: 0;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    -o-transform: rotate(133deg);
    transform: rotate(133deg);
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-right: -20px;
}
.checkbox label, .radio label {
    padding-right: 20px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"] {
    float: right;
    right: 0;
    margin-right: 0;
}
.datebtn {
    border-radius: 6px 0px 0px 6px !important;
}
.btnminus {
    border-radius: 0px 4px 4px 0px !important;
    border-right: 1px solid #ccc;
}
.btnplus {
    border-radius: 4px 0px 0px 4px !important;
    border-left: 1px solid #ccc;
}
.prorate {
    border-left: 1px solid #003050;
    border-right: 0;
    margin: 0px 0;
}
.proreview {
    border-left: 1px solid #003050;
    border-right: 0;
}
.a2a_default_style a {
    float: right !important;
}
.product-tab .nav-tabs > li {
    border-left: 1px solid #f2f2f2;
}
.nav-tabs > li {
    float: right;
}
.product-tab .nav-tabs {
    margin-right: -16px;
}
@media(max-width: 767px){
    .proreview, .prowrite {
        text-align: right;
    }
    #compare-total {
        float: left;
    }
    .product-list .product-thumb .button-group button {
        margin-left: -5px;
        margin-right: auto;
    }
}
/* category page */
.catesort select.form-control {
    background-position: calc(16% - 7px) 50%;
}
.product-list .car {
    border-radius: 0px 20px 20px 0px;
}
.product-list .com {
    border-radius: 20px 0px 0px 20px;
}
.product-list .product-thumb .caption {
    margin-right: 230px;
    margin-left: auto;
}
.product-list .product-thumb .button-group {
        text-align: right;
}
@media(min-width: 767px){
    .product-list .product-thumb .image {
        float: right;
    }
    .product-list .product-thumb .price {
        text-align: right;
    }
    .product-list .sb-theme-p-desc{
    text-align: right;
    }
    .product-list .product-thumb h4{
        text-align: right;
    }
    .product-list .product-thumb .rating{
        text-align: right;
    }
}
@media(max-width: 766px){
    .product-list .product-thumb .caption{
        margin-right: 0;
    }
    .product-list .product-thumb h4 {
        text-align: center;
    }
}

/* Delivery information */
.deliveryinfo ul{
    padding-right:7px;
    border-left: 1px solid #dcdcdc;
    border-right: 0;
}
.deliveryinfo ul li{
    text-align: right;
}
.shipping-inner i{
    float: right;
    margin-left: 11px;
    margin-right: 0;
}
.shipping-inner .content{
    text-align: right;
}
.col-md-offset-6{
    margin-left: 0;
    margin-right: 50%;
}
.product-thumb .button-group .theme-btn{
    right: auto !important;
    left: 76px !important;
}
.product-thumb .button-group .theme-btn-w{
    right:auto !important;
    left: 16px !important;
}
.col-md-offset-1{
    margin-left:0;
    margin-right: 8.33333333%;
}
@media(min-width: 767px){
.product-list .product-thumb .sale{
    right: 15px;
    left: auto;
    top: 0;
    transform:none;
    }
}
