body {    
    font-family: 'Poppins', sans-serif;    
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: #444;
}
.breadcrumb-bg{
    padding-top: 100px!important;
}
._94vh {
    animation: thread_slide_up 200ms forwards;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    height: calc(100% - 24px);
    justify-content: flex-end;
    left: -8px;
    /*max-height: 708px;*/
    overflow: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    top: 90%;
    width: 375px;

    margin-top: 95px!important;;
    max-height: 80%!important;
}
iframe {

    margin: 45px 12px !important;
}
a{
    outline:none !important;
}
a:focus, a:hover{
    color: #ed1c24;
    outline: none;
}
/* default font size */
.fa {
    font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
    font-size: 33px;
}
h2 {
    font-size: 27px;
}
h3 {
    /*color: #e50019;*/
    font-size: 21px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10.2px;
}
a {
    color: #233888;
}
a:hover {
    text-decoration: none;
}
legend {
    font-size: 18px;
    padding: 7px 0px
}
label {
    font-size: 12px;
    font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}
.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}
/* #menu .dropdown-menu{
    transition: 0.5s ease-in-out;
    display: block !important;
    opacity: 0;
    transform: scaleY(0);
    visibility:hidden;
    transform-origin: 0 0 0;    
}
#menu .dropdown.open:hover .dropdown-menu{
    opacity: 1;
    visibility:visible; 
    transform: scaleY(1);
} */
  #menu .dropdown-menu{
display: block !important;
webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
-o-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
visibility: hidden;
display: block;
opacity: 0;
margin-top:50px;
filter: alpha(opacity=0);
-webkit-transition: all 0.35s ease-out 0s;
-o-transition: all 0.35s ease-out 0s;
transition: all 0.35s ease-out 0s;
min-width: 203px;
//background-color: rgba(0,0,0,0.8);
background-color:#fff;
padding: 0px;
border-radius:0px;
}

#menu .dropdown:hover .dropdown-menu{
visibility: visible;
opacity: 1;
filter: alpha(opacity=100);
margin-top:4px;
}
#menu .dropdown-inner a{
border-bottom: 1px solid #ededed;
padding: 10px 18px !important;
color: #272727;
text-transform: capitalize;
}
}
/*#top-links .dropdown-menu{
    transition: 0.5s ease-in-out;
    display: block !important;
    opacity: 0;
    transform: scaleY(0);
    visibility:hidden;
    transform-origin: 0 0 0;    
}
#top-links .dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible; 
    transform: scaleY(1);
}*/
#static-header{
    width: 100%;
    background: #f6f6f6;
    top: 0;
    z-index: 99;
    box-shadow: 0px 3px 6px rgba(0,0,0,.1);
}
.sca{
    margin-top: 15px;
    text-align: right;
}
.sca li{
/*     margin-left: 22px; */
}
.sca li{
/* float: left; */
display:inline;
}
.header-btns{
    margin-left: 32px;   
}
@media(min-width: 991px){
    #menu .dropdown-menu{
        /* min-width: 450px; */
    }
}
@media(max-height: 768px){
    iframe{
       margin: 10px -3px !important; 
    } 
}
   
/*page title start*/
.theme-title {
    font-size: 20px;
    /*font-weight: 700;*/
    text-transform: uppercase;    
    padding-bottom: 10px;
    border-bottom: 1px solid #e50019;
}
.main-title{
    font-size: 20px;    
    letter-spacing:1.5px;
    text-align:center;    
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 80px;
}
.main-title h3{
    font-weight: 600;
    color: #233888;
}
.main-border{
    margin-bottom:15px;
}
/*page title end*/
/*category left */
@media(min-width:1400px){
.cat-left{
    width:21%;
}
}
/*category left End*/
/*== SB-theme padding & Margin ==*/
.sb-theme-p-0{
    padding: 0px !important;
}
.sb-theme-pl-0{
    padding-left: 0px !important;
}
.sb-theme-pl-5{
    padding-left: 5px !important;
}
.sb-theme-pl-10{
    padding-left: 10px !important;
}
.sb-theme-pl-15{
    padding-left: 15px !important;
}
.sb-theme-pr-0{
    padding-right: 0px !important;
}
.sb-theme-pr-5{
    padding-right: 5px !important;
}
.sb-theme-pr-10{
    padding-right: 10px !important;
}
.sb-theme-pr-15{
    padding-right: 15px !important;
}
.sb-theme-pr-20{
    padding-right: 20px !important;
}
.sb-theme-m-0{
    margin: 0;
}
.sb-theme-ml-0{
    margin-left: 0;
}
.sb-theme-ml-5{
    margin-left:5px;
}
.sb-theme-ml-10{
    margin-left: 10px;
}
.sb-theme-ml-15{
    margin-left:15px;
}
.sb-theme-ml-20{
    margin-left:20px;
}
.sb-theme-mt-0{
    margin-top:0px !important;
}
.sb-theme-mb-0{
    margin-bottom:0px !important;
}
/*== SB-theme padding & Margin End ==*/
/*== Image Hover Effect ==*/
@-webkit-keyframes shine {
    100% {
    left: 125%;
}
}
@keyframes shine {
    100% {
    left: 125%;
}
}
.img-effect {
    overflow: hidden;
}
.img-effect:hover+span {
    bottom: -36px;
    opacity: 1;
}
.b-effect .img-effect {
    position: relative;
}
.b-effect .img-effect::before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.b-effect .img-effect:hover::before {
    -webkit-animation: shine 1.0s;
    animation: shine 1.0s;  
}
@media(max-width: 768px){
    .mtop {
        margin-top:-30px!important;
    }
    .b-effect{
        margin-top:20px;
    }
}
/*== Image Hover Effect End ==*/
/* Bootstrap fixed */
@media(min-width:1350px){
    .container{
        width: 1350px;
    }
}
.container.cmn-width{
    background-color: #Fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.cmn-padding{
    padding-top: 60px;
    padding-bottom: 60px;
}
.cmn-space{
    margin-top: 60px;
    margin-bottom: 60px;
}
.cmn-title h3{
    color: #333;
    font-size: 30px;    
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-top: 75px;
}
.cmn-title h3 span{
    /*color: #e50019;*/
}
.title-desc{
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
  text-align: center;
}
@media(max-width: 767px){
    .cmn-title h3{
        font-size: 18px;margin-top: 30px;
    }
    .title-desc{
        margin-bottom: 10px;
    }
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 30px;
}
div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
    text-decoration: none;
    /*color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;*/
}
/* top */
/*== SB-Theme top ==*/
#top {
      
    background-color: #ED1C24;
    width: 100%;
    padding: 0;
    min-height: 40px;
    position: fixed;
    z-index: 110;
}
/* product tab start */
.products-tab {
	border-bottom: none;
}
.products-tab > li.active > a, .products-tab > li.active > a:focus, .products-tab > li.active > a:hover, .products-tab > li > a:hover, .products-tab > li > a,
.products-tab > li > a:focus{
	border: none;
	background-color: #fff;
}
.products-tab li a:hover, .products-tab li.active a, .products-tab li.active a:hover,.products-tab > li.active > a, .products-tab > li.active > a:focus{
    color: #ed1c24;
    border-bottom: 2px solid #ed1c24;
}
.products-tab li a {
	outline: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;    
    padding-top: 0;
    padding-bottom: 10px;
    font-weight:501;
}
.nav-tabs li{
    text-align: center;
    display: inline-block;
    float:none !important;
}
.products-tab{
    text-align: center;
}
@media(max-width: 767px){
    .products-tab li a{
        font-size: 14px;
        padding: 10px 5px;
    }
}
/* product tab end*/
/* free shipping start */
.d-to{
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
    margin-top:-62px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.16);
}
.both{
    padding: 5px;
}
.sb-theme-free-ship{
    padding-top: 10px;
    letter-spacing: 1px;
    color: #fff;
    font-size:13px;
    font-weight:600;
}       
.sb-theme-free-ship i{
    font-size: 18px;
}
.shipping-inner {
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    color: #333;
    line-height: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    padding:15px 0px;
}
.shipping-inner i {
    border: 1px #00b9f5 solid;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    color: #00b9f5;
    text-align: center;
    line-height: 38px;
    margin-top: 0px;
    float: left;
   /* vertical-align: 5px;*/
}
.shipping-inner h3 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.shipping-inner .content {
    text-align: left;
    text-transform: none;
    color: #999;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.deliveryinfo {
    /*border-bottom: 1px solid #dcdcdc;*/
    /*padding-bottom: 60px;*/
    /*margin-bottom: 60px;*/
}
.deliveryinfo ul {
    margin: 0;
    padding-left: 0;
    border-right: 1px solid #dcdcdc;
}
.deliveryinfo ul li {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
}
.deliveryinfo ul li h4{
    /*text-transform: uppercase;*/
    /*letter-spacing: 2px;*/
    margin-bottom: 0;
    font-weight: 600;
    color: #ed1c24;
}
.shipping{
background-image: url(../../../../../image/catalog/ship/free.png);
background-position: center;
width: 60px;
height: 60px;
content: '';
z-index: 0;
position: relative;
top: 0;
clear: both;
margin: 0 auto;
display: block !important;
border-radius: 100%;
/*border: 1px solid #dcdcdc;*/
transition: all 400ms ease-in-out 0s;
}
.both ul:hover .shipping{
    background-image: url(../../../../../image/catalog/ship/free-1.png);
/*    border: 1px solid #e50019;*/
}
.black{
    background-image: url(../../../../../image/catalog/ship/bag-1.png);
    background-position: center;
width: 60px;
height: 60px;
content: '';
z-index: 0;
position: relative;
top: 0;
clear: both;
margin: 0 auto;
display: block !important;
border-radius: 100%;
transition: all 400ms ease-in-out 0s;
/*border: 1px solid #dcdcdc;*/
}
.both ul:hover .black{
    /*border: 1px solid #e50019;*/
    background-image: url(../../../../../image/catalog/ship/bag.png);
}
.free{
    background-image: url(../../../../../image/catalog/ship/ex.png);
    background-position: center;
width: 60px;
height: 60px;
transition: all 400ms ease-in-out 0s;
content: '';
z-index: 0;
position: relative;
top: 0;
clear: both;
margin: 0 auto;
display: block !important;
border-radius: 100%;
/*border: 1px solid #dcdcdc;*/
}
.both ul:hover .free{
    /*border: 1px solid #e50019;*/
    background-image: url(../../../../../image/catalog/ship/ex-1.png);
}
.hours.todays{
background-image: url(../../../../../image/catalog/ship/24h.png);
background-position: center;
width: 60px;
height: 60px;
content: '';
z-index: 0;
transition: all 400ms ease-in-out 0s;
position: relative;
top: 0;
clear: both;
margin: 0 auto;
display: block !important;
border-radius: 100%;
border: 1px solid #dcdcdc;
}
.both ul:hover .todays{
    /*border: 1px solid #e50019;*/
    background-image: url(../../../../../image/catalog/ship/24h-1.png);
}
.deliveryinfo ul.last{
    border-right: none;
}
@media(max-width: 767px){
    .shipping{
        width: 45px;
        height: 45px;
        background-size: 45px;
    }
    .black{
        width: 45px;
        height: 45px;
        background-size: 45px;   
    }
    .free{
        width: 45px;
        height: 45px;
        background-size: 45px;        
    }
    .hours.todays{
        width: 45px;
        height: 45px;
        background-size: 45px;           
    }
    .deliveryinfo ul li h4{
        letter-spacing: 1px;
    }
}
@media(min-width: 630px) AND (max-width: 767px){
    .deliveryinfo .col-xs-12{
        width: 33.33%;
    }
    
}
/* free shipping end */
#top .container {
    padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    color: #e50019 !important;
}
#top .dropdown-menu{
    min-width: 140px;
}
#top .btn-link, #top-links li, #top-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}
#top-links .my-account ul li a{
    padding: 5px 12px;
}
#top .btn-link:hover, #top-links a:hover {
    color: #f2f2f2;
}
#top-links .dropdown-menu a {
    text-shadow: none;
}
#top-links .dropdown-menu a:hover {
    color: #FFF;
}
#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}
#top-links {
    padding-top: 11px;
}
#top-links a + a {
    margin-left: 15px;
}
#form-currency ul li button{
    color: #505050 !important;
}
#form-language ul li button{
    color: #505050 !important;
}
.my-account a{
    background-color: transparent !important;
}
.my-account ul li a{
    color: #505050 !important;
}
.my-account ul li a i{
    width: 20px;
}
.my-account ul li a:hover{
    color: #e50019 !important;
}
@media(max-width:767px){
    #top .dropdown-menu{
        min-width: 120px;
    }
    #top #form-currency .currency-select, #top #form-language .language-select{
        padding-bottom: 3px;
        padding-top: 3px;
    }
}
@media(max-width:1200px){
    #top .dropdown-menu{
        left: auto;
        right: 0;
    }
}
/*== SB-theme top End ==*/
/*== SB-theme Header ==*/
header{  
  width: 100%;  
  background: #f6f6f6;
}
.cmn-h-pd{
    padding-top: 5px;
    padding-bottom: 5px;
}
.sb-main-menu{
    padding-top: 4px;
    padding-bottom: 4px;
}
/* logo */
#logo {
    margin: 0;
}
#logo a img{
    /*margin-top: -30px;*/
  /*margin-top: 18px;*/
max-width: 200px;
max-height: 100px;
/*position: absolute;*/
padding-top: 12px;
padding-bottom: 12px;
/*border-radius: 50%;*/
/*position: absolute;
top: -54px;*/
}
/*logo end*/
/*slideshow*/
/*sale images */
.sale{
    position: absolute;
    top:0px;   
    right: 8px;
}
@media(min-width: 768px){
    .sca{
        margin-top: 35px!important;
        text-align: right;
    }
    .ext{
        width: 160px!important;
        margin-top: 50px!important;
        height: 115px!important;
        margin-left: 30px!important;
    }
    .widd{
        width: 22.667%!important;
        margin-top: 30px!important;
    }
}
@media(min-width: 767px){

.product-list .product-thumb .sale{
    right: auto;
    transform: rotate(-46deg);
    left: -5px;
    top: 27px;
    }
}
/*sale images end*/
/*common slider */
.owl-theme .owl-controls .owl-buttons div{
    background:#000 !important;
    opacity: 1 !important;
    /*padding: 10px 18px !important;*/
    width: 35px;
    padding: 0;
    line-height:33px;
    height: 35px;    
}
.owl-theme .owl-controls .owl-buttons .owl-next i{
    font-size: 16px !important;    
}
.owl-theme .owl-controls .owl-buttons .owl-prev i{
    font-size: 16px !important;    
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover{
    background:#e50019 !important;
    opacity:1 !important;
}
.owl-theme .owl-controls .owl-buttons .owl-next:hover{
    background:#e50019 !important;
    opacity:1 !important;
}
/*.owl-theme .owl-controls .owl-buttons .owl-prev{
    top: 45%;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
    top: 45%;
}*/
/* slideshow */
.swiper-button-prev::before{
        font-size:18px !important;
        font-weight: 400 !important;
}
.swiper-button-next::before{
        font-size:18px !important;
        font-weight: 400 !important;
}
/* slideshow End*/
/*brand slider */
#brand .owl-item img{
    text-align: center !important;
    margin: 0 auto !important;
    /*opacity: 0.7;*/
    cursor: pointer;
}
#brand .owl-item:hover img{
    opacity: 1;
}
#brand.owl-carousel .owl-wrapper-outer{
    border:none !important;
    /*background-color: #f2f2f2 !important;*/
    box-shadow: none !important;
    border-radius: 0 !important;
    
}
#brand.owl-theme .owl-controls .owl-buttons div{
    display: none !important;
}
#brand.owl-carousel{
	margin: 0 !important;
}
#brand.owl-theme .owl-controls{
	margin: 0 !important;
}
/*brand slider End*/
/*common slider End*/
/*== SB-theme Header End ==*/
/* search */
#search {
	    /*margin-top: 15px;
	    margin-bottom: 10px;*/
    z-index: 0;
}
#search .input-lg {
    height: 40px;
    line-height: 20px;
    padding: 0 18px;
    border-radius:0;
}
#search .btn-lg {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 16px;
    color: #fff;    
    background: #505050;
    border-color: #505050;
    box-shadow: none;
    border-radius: 0;
}
@media(max-width: 767px){
    .fimg{
        margin-left: 24%!important;
        margin-bottom: 55px!important;
    }
    #search .btn-lg{
        padding:7px 8px;

    }
    #search .input-lg{
        padding: 0 5px ;
        height: 34px;
    }
}
#search .btn-lg:hover{
    background: #e50019;
    border-color: #e50019;
}
.my-search{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    left: auto;
    right: 0;
    min-width: 280px !important;
    margin-top: 10px;    
}

/* cart */
#cart {
    margin-bottom: 5px;
    margin-top: 5px;
}
#cart > .btn {
    font-size: 14px;
    line-height: 18px;
    color: #505050;
    border-radius: 0;
    border:none;
    box-shadow: none;
    background-image: none;
    background-color: transparent !important;    
    padding-top: 0;	
}
#cart .btn-lg{
    padding: 0;
}
#cart.open > .btn {
    background-image: none;
    background-color: transparent !important;
    /*border: 1px solid transparent !important;*/
    color: #505050;
    box-shadow: none;
    text-shadow: none;
}
#cart.open > .btn:hover {
    color: #505050;
}
#cart .dropdown-menu {
    background: #ffffff;
    border-bottom: 3px solid #e50019;
    z-index: 1001;
    margin-top: 10px;
    border-radius: 0;
}
#cart .dropdown-menu {
    /* min-width: 100%; */
    min-width: 200px;
}
.my-account .dropdown-menu{
    margin-top: 10px;
    left: auto;
    right: 0;
    border-radius: 0;
    min-width: 130px;
}
@media(max-width:389px){
        #cart{
            margin-top:25px;
        }
        .my-search{
            min-width: 180px !important;
        } 
        .pertamina-logo{
            visibility: hidden;
        }
 }
@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
        min-width: 230px !important;
    }
    #cart .dropdown-menu .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
        padding: 5px;
    }
    .pertamina-logo{
            visibility: hidden;
        }

}
#cart .dropdown-menu table {
    margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}
@media (max-width: 478px) {
    .pertamina-logo{
            visibility: hidden;
        }
    #cart .dropdown-menu li > div {
        min-width: 100%;
    }
    #cart .dropdown-menu .btn-primary{
        font-size: 12px;
        line-height: 23px;
        padding: 5px 8px;        
        outline: none;
        box-shadow: none;
    }
}
#cart .dropdown-menu li p {
    margin: 20px 0;
}
#cart-total{
    position: relative;
    top: 3px;
    font-weight: 601;
    margin-left: 5px;
    color: black;
}
@media(max-width: 767px){
    /* .m-cart{
    position: absolute;
    right: 2px;
    top: 32px;
    }
    #cart > .btn{
        width: 130px;
        padding: 7px 11px;
        font-size: 12px;
        line-height: 19px;
    }
    #cart .dropdown-menu{
        width: auto;
    }    
    #search .input-lg{
        height: 36px;
    }
#search .btn-lg{
    padding: 8px 27px;
} */
.sca{
    padding:0;
}
#cart{
    margin-top: 0;
}
}
@media(min-width: 350px) AND (max-width:499px){
    .footer-down{
        height:55px;
        
margin-top: 28px;
padding: 0px;
position: fixed;
z-index: 2;
bottom: 0px;
width: 100%;
    }
    .pertamina-logo{
            visibility: hidden;
        }
    .m-cart{
        top: 42px;
    }
}
@media(min-width: 500px) AND (max-width:767px){
    
/*     .footer-down{*/
/*        height:55px;*/
        
/*margin-top: 28px;*/
/*padding: 0px;*/
/*position: fixed;*/
/*z-index: 2;*/
/*bottom: 0px;*/
/*width: 100%;*/
/*    }*/
    .m-cart{
        top: 50px;
    }
}
@media(min-width: 768px) AND (max-width:991px){
     .footer-down{
        height:55px;
        
margin-top: 28px;
padding: 0px;
position: fixed;
z-index: 2;
bottom: 0px;
width: 100%;
    }
    .t-search{
        width: 100% !important;
    }
    #search .btn-lg{
        padding: 10px 23px;
    }
    .t-search-1{
        position: absolute;
        width: 40% !important;
        right: 60px;
    }
    .cntct-services{
        display: none;
    }
    #cart > .btn{
        overflow: hidden;
    }
   /* .t-cart{
        width: 25% !important;
    }*/
    .t-logo{
    width: 30% !important;      
    }
    #logo{
        margin-top: 10px;
    }

}
@media(max-width: 350px){
    #logo a img{
        max-width: 152px;
        margin-top: 7px;
    }
}
@media(min-width: 992px) AND (max-width:1199px){
    .t-logo{
    width: 25% !important;      
    }
    /*.t-search{
        width: 55% !important;
    }*/
    #logo{
        margin-top: 8px;
    }
}
/*header top menu end*/
/* menu */
#navbar{
    background-color: #fff;
}
#menu.navbar{
    margin-bottom: 0px ;
    margin-top:9px;
}
#menu {
    /*background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;*/
    min-height: 40px;
}
#menu .nav > li > a {
    color: #000;
    font-size: 14px;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 501;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-color: transparent;
    color:#ed1c24;
}
@media(min-width: 768px){
    #menu .nav > li > a::before{
        position: absolute;
        bottom: -10px;
        left: 0;
        color: transparent;
        content: '•';
        text-shadow: 0 0 transparent;
        font-size: 1.2em;
        -webkit-transition: text-shadow 0.3s, color 0.3s;
        -moz-transition: text-shadow 0.3s, color 0.3s;
        transition: text-shadow 0.3s, color 0.3s;
        pointer-events: none;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    #menu .nav > li > a:hover::before{
        /*color: #000;*/
        /*text-shadow: 10px 0 #e50019, -10px 0 #e50019;*/
    }
}
#menu .dropdown-menu {
    padding-bottom: 0;

}
#menu .dropdown-inner {
    display: table;
}
#menu .dropdown-inner ul {
    display: table-cell;
}
#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 4px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 14px;
    outline: none;
    text-decoration: none;
}
#menu .dropdown-inner li a:hover {
    color: #e50019;
}
#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}
#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding:3px 14px;
    float: right;
    background-color: #229ac8;  
    border-color: #e50019;
    background-color: transparent;
    border-radius: 0;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #fff;
}
#menu .btn-navbar{
    border: 1px solid #fff;   
}
.sb-theme-menu{
    /*border-bottom: 3px solid #e50019;*/
}
/* sticky menu*/

    #navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    background-color: #fff;
}
#navbar.affix header {
    margin: 25px 0 0px 0;
}
.navbar-static-top.affix .sb-theme-menu{
    border-bottom: 1px solid #e50019;
}


/* sticky menu end*/
@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media (max-width: 767px) {
   /*  #menu {
        border-radius: 4px;
        position: absolute;
        top: -112px;
        left: 22px;
    } */
    .sca li{
        /* margin-left: 2px; */
    }
    #cart .dropdown-menu li p{
        margin: 10px 0;
    }
    .sca li img{
        width: 15px;
    }
    #logo a img{
        max-width: 100%;
    }
    #navbar{
        background: transparent;
    }
    .navbar-static-top{
        position: absolute;
        top: -6px;
        left: 15px;
    }
    #menu.navbar{
        margin-top: 0;
    }
    #menu .navbar-header{
        width:50px;
    }
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        /*background-color: rgba(0, 0, 0, 0.1);*/
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #333;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background:transparent;
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
    #menu .navbar-collapse{
        position: relative;
        background: #ffffff;
        z-index: 999999;
        border: 1px solid #ededed;
        min-width: 270px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    #menu .nav > li > a{
        padding: 5px 10px 5px 12px;
    }
    #menu .dropdown-menu{
        transition: none;
    }
    .navbar-nav .dropdown i{
        float: right;
    }
    #logo a img{
        padding-left: 0;
    }
    /*#menu .nav > li > a i{
        float: right;
    } */  
        /*#menu .dropdown.open:hover .dropdown-menu{
    }
    opacity: 1;
    visibility:visible; 
    transform: scaleY(1);
}*/
}
/*@media(min-width:601px) AND (max-width:767px){   
   .t-services{
        width:50% !important;
        float: left !important;
    }
}*/
@media(min-width: 768px) AND (max-width: 991px){
    #menu .nav > li > a{
        font-size: 12px;
        padding: 6px 7px;
    }
    #menu .dropdown-inner a{
        font-size: 12px;
    }
    #cart{
        margin-top: 0;
        margin-bottom: 0;
    }
    #logo{
        margin-top: 0;
    }
}
/* content */
#content {
    /*top: 100px;*/
    background: white;
    min-height: 600px;    
}
.cmn-bg #content{
    background-color: #fff;
}
/* footer */
footer {
    background-color: #F1F1F1;
    /*background-image: url('../../../../../image/catalog/footer-bg/ftr.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*border-top:2px solid #e50019;*/
    color: #fff;
    margin-top: 20px;
}
.m-ftr-link{
     background-color: transparent !important;
     margin-bottom: 0px !important;
}
.ftr-contact p{
    margin-bottom: 15px;
    letter-spacing: 0px;
    color:black;
}
footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}
footer a {
    color: black;
}
footer li{
    margin-bottom: 10px;
}
footer li a{
    text-decoration: none !important;
    letter-spacing: 0.4px;
    transition: all 0.3s ease-in-out 0s;
    font-weight: 500;
}
footer li a:hover{
    padding-left: 5px;
    color:#e50019;
    outline: none;
}
footer li a i{
    margin-right: 4px;
}
footer a:hover,a:focus {
    // color: #fff;
} 
footer h5 {
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ed1c24;
    margin-bottom: 30px;
}
.top-footer{
    background: #212121;
    margin-bottom: 40px;
}
.sb-footer-top{
    margin-top:20px;
    margin-bottom: 20px;
}
.ftr-toll-free img{
    height: 50px;
    display: inline;
    float:left;
}
.ftr-toll-free h3{
    font-size:20px;
    color: #ffffff;    
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    line-height:44px;
    margin-left: 15px;
    display: inline;
}
.ftr-mail img{
    height: 45px;
    display: inline;
    float:left;
}
.ftr-mail h3{
    font-size:20px;
    color: #ffffff;    
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    line-height: 44px;
    margin-left: 15px;
    display: inline;
}
.ftr-address img{
    height: 40px;
    display: inline;
    float:left;
}
.ftr-address h3{
    font-size:20px;
    color: #ffffff;    
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    line-height: 44px;
    margin-left: 15px;
    display: inline;
}
@media(max-width:767px){
    .ftr-toll-free h3{
        font-size: 16px;        
    }
    .ftr-mail h3{
        font-size: 17px;
        line-height: 36px;
    }
    .ftr-address h3{
        letter-spacing: 0;
        font-size: 16px;
    }
}
@media(min-width:768px) AND (max-width:991px){
 .ftr-toll-free img{
    height: 30px;
 }
 .ftr-toll-free h3{
        font-size: 16px;
        line-height: 35px;
    }
    .ftr-mail img{
        height: 30px;
    }
    .ftr-mail h3{
        font-size: 15px;
        line-height: 31px;
    }
    .ftr-address img{
        height: 30px;
    }
    .ftr-address h3{
        letter-spacing: 0;
        font-size: 14px;
        line-height: 20px;
    }
}
@media(min-width:992px) AND (max-width:1300px){
 .ftr-toll-free h3{
        font-size: 16px;        
    }
    .ftr-mail h3{
        font-size: 17px;
        line-height: 36px;
    }
    .ftr-address h3{
        letter-spacing: 0;
        font-size: 16px;
    }
}
/*sb-theme footer social*/
.power-by{
    padding-top: 19px;
    text-align: left;
}
.sb-theme-ftr-social{
    padding-top: 12px;
    text-align: center;
}
.sb-theme-ftr-social ul{
    margin-bottom: 0;
}
.sb-theme-ftr-social ul li{
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0;
}
.sb-theme-ftr-social ul li a:hover{
    color: #fff !important;
    padding-left: 0;
}
.sb-theme-fb{    
    height: 33px;
    line-height:33px;
    text-align: center;
    width: 33px;
    cursor: pointer;    
}
.sb-theme-fb:hover{
    background-color: #3b5999;
    border-color: #3b5999;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.sb-theme-y-tube{
    height: 33px;
    line-height: 32px;
    text-align: center;
    width: 33px;
    cursor: pointer;
}
.sb-theme-y-tube:hover{
    background-color: #E9342B;
    border-color: #E9342B;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.sb-theme-twr{
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    color: #fff;
    cursor: pointer;
}
.sb-theme-twr:hover{
    background-color: #00aced;
    border-color: #00aced;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.sb-theme-g-plus{    
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    cursor: pointer;
}
.sb-theme-g-plus:hover{
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: #fff;
    transition: all 0.3s ease 0s;
}
/*sb-theme footer social end*/
/*sb-theme footer payment*/
.sb-theme-ftr-payment {
    text-align: right
}
.sb-theme-ftr-payment h4{
    display: inline;
    float: left;
    color: #ccc;
    font-weight: bold;
}
.sb-theme-ftr-payment ul li{
 /*    display: inline;
    float: left; */
    display: inline-block;
    text-align:right;
    margin-left: 8px;
}
.sb-theme-ftr-payment ul li{
    line-height: 27px;
    margin-bottom: 0;
}
.sb-theme-ftr-payment ul li i{
    font-size: 35px;
}
/*sb-theme footer payment End*/
/*sb-theme footer App*/


.sb-theme-android{
    border: 1px solid;
    border-radius: 50%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    cursor: pointer;
}
.sb-theme-android:hover{
    background-color: #97C03E;
    border-color: #97C03E;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.sb-theme-apple{
    border: 1px solid;
    border-radius: 50%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    cursor: pointer;
}
.sb-theme-apple:hover{
    background-color: #666666;
    border-color: #666666;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.sb-theme-window{
    border: 1px solid;
    border-radius: 50%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    cursor: pointer;
}
.sb-theme-window:hover{
    background-color: #25A9E0;
    border-color: #25A9E0;
    color: #fff;
    transition: all 0.3s ease 0s;
}
@media(max-width: 767px){
    .sb-theme-ftr-social{
        margin-top: 20px;
    }
    .sb-theme-ftr-payment{
      margin-top: 10px;
    }
    .sb-theme-ftr-app{
        margin-top: 10px;
    }
    .sb-theme-ftr-payment ul li i{
        font-size: 24px;
    }
}
@media(max-width: 400px){
    .m-ftr-link .col-xs-6 {
        width: 100% !important;
    }
}
@media(min-width: 768px) AND (max-width: 1199px){
    /*.mtop {*/
    /*    margin-top:10px!important;*/
    /*}*/
 .sb-theme-ftr-social{
        margin-top: 20px;
    }
    .sb-theme-ftr-payment{
      margin-top: 20px;
    }
    .sb-theme-ftr-app{
        margin-top: 20px;
    }
    .sb-theme-ftr-payment ul{
        padding: 0;        
    }
    .sb-theme-ftr-payment ul li i{
        font-size: 24px;
    }
    .sb-theme-ftr-payment ul li{
        line-height: 42px;
    }
}
@media(max-width: 690px){

.footer-down{
    /*background-image: url('../../../../../image/catalog/footer-bg/ftr-down.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;    */
    background-color: #ed1c24;
    height: 55px;
    margin-top: 28px;
    padding: 0px;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    width: 100%;
    }
}
@media(min-width: 1024px){
    .rr{
        margin-top: 10px!important;
        width: 185px!important;
    }
    .mtop {
        margin-top:10px!important;
    }
    .sca{
        margin-top: 10px!important;
        text-align: right;
        width: 500px;
        margin-left: -170px;
    }
}
@media(min-width: 830px){
    
    .mtop {
        margin-top:10px!important;
    }
    .sca{
        margin-top: 10px!important;
        text-align: right;
    }
}
@media(min-width: 1150px){
    .sca{
        margin-top: 20px!important;
        text-align: right;
    }
    .wid{
        margin-top: 30px!important;
        /*padding-left: 40px!important;*/
        /*margin-left: 50px!important;*/
        /*margin-right: 50px!important;*/
    }
    .widTwo{
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 30px!important;
    }
    .col-sm-2
    {
        margin-left: 0px;
        margin-right:0px;
    }
    .sb-main-menu {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 110px;
}
    .sb-theme-ftr-payment ul{
        padding: 0;
        padding-top: 15px;
    }
    /*.sb-theme-ftr-payment ul li{
        line-height: 45px;
    }*/
    .sb-theme-ftr-payment ul li i{
        font-size: 29px;
    }
}
/*sb-theme footer App End*/
/*footer down start*/
.footer-down{
    /*background-image: url('../../../../../image/catalog/footer-bg/ftr-down.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;    */
    background-color: #8b0e0d;
    height: 30px;
margin-top: 28px;
padding: 0px;
position: fixed;
z-index: 2;
bottom: 0px;
width: 100%;
}
/* footer down end */
/* alert */
.alert {
    padding: 8px 14px 8px 14px;
    /*//position: absolute;*/
    z-index: 99;
    margin: 0 auto;
    stext-align: center;
    margin-top: 150px;
}
.alert-dismissable .close, .alert-dismissible .close{
    right: -5px;
}
/* breadcrumb */
.breadcrumb {
    margin: 0px 0;
    padding: 22px 0;
    border: none;
    background-color: transparent;
    text-shadow: none
;}
.breadcrumb i {
    font-size: 15px;
}
.breadcrumb > li {  
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb > li a{
    color: black;
    text-decoration: none;
}
.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}
.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    right: -5px;
    width: 9px;
    height: 9px;
    border-right: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.pagination {
    margin: 0;
}
.pagination > li > a, .pagination > li > span{
    padding: 6px 16px;
    color: #333;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #e50019;
    border-color: #e50019;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
    color: #333 !important;
}
/* buttons */
.buttons {
    margin: 1em 0;
}
.btn {
    padding: 7.5px 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
    font-size: 9px;
}
.btn-sm {
    font-size: 10.2px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
/*     font-size: 12px; */
}
.btn-group > .btn-xs {
    font-size: 9px;
}
.btn-group > .btn-sm {
    font-size: 10.2px;
}
.btn-group > .btn-lg {
    font-size: 15px;
}
.btn-default {
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #e7e7e7;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
    color: #ffffff;
    background-color: #1C1C1C ;    
    border-color: #1C1C1C ;
    border-radius: 2px;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 400ms ease-in-out 0s;
-webkit-transition: all 400ms ease-in-out 0s;
-moz-transition: all 400ms ease-in-out 0s;
-o-transition: all 400ms ease-in-out 0s;
-ms-transition: all 400ms ease-in-out 0s;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #000;
    background-position: 0 -15px;
}
.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #233888;
    border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}
.btn-inverse {
    color: #ffffff;
    /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}
.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}
/* product list */
.product-thumb {    
    background-color: #fff;
    margin-bottom: 20px;
    overflow: auto;   
transition: all 400ms ease-in-out 0s;
-webkit-transition: all 400ms ease-in-out 0s;
-moz-transition: all 400ms ease-in-out 0s;
-o-transition: all 400ms ease-in-out 0s;
-ms-transition: all 400ms ease-in-out 0s;
}
.product-thumb:hover{
    /* box-shadow: 0 0 9px rgba(0,0,0,0.2); */    
}
.product-list .product-thumb:hover{
    /* box-shadow: none; */
}
.product-thumb .image {
    text-align: center;
}
.product-thumb .image a {
    display: block;
}
.product-thumb .image a:hover {
    opacity: 0.8;
}
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.product-grid .product-thumb .image {
    float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
}
}
.product-thumb h4 {
    /*font-weight: bold;*/
    /*margin-top: 0;*/
    color: #333;    
    margin-bottom: 8px;
}
.product-thumb h4 a{
    text-decoration: none;
    color: #333;
    font-size: 16px;    
    text-transform: capitalize;
}
.product-thumb .caption {
    padding:20px;    
    letter-spacing: 0.5px;
    text-align: center;
    background-color: #fff;
/*  min-height: 180px;*/
}
.product-list .product-thumb .caption {
    margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
    /*min-height: 210px;*/
    padding: 0 10px;
}
}
@media (max-width: 767px) {
    .footer_cc,
    .col-sm-2,
    .col-sm-3{
    margin-top: 30px;
width: 90%;
color: black;
margin-left: 20px;
}
.product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
}
.product-grid .product-thumb .caption {
    min-height: 0;
}
}
.product-thumb .rating {
    padding-bottom:8px;
}
.rating .fa-stack {
    font-size: 8px;
}
.rating .fa-star-o {
    color: #ed1c24 ;
    font-size: 15px;
}
.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}
.rating .fa-star + .fa-star-o {
    color: #E69500;
}
h2.price {
    margin: 0;
}
.product-thumb .price {
    font-weight: 600;
    font-size: 15px;
    color: #333;
}
.product-thumb .price-new {
    font-weight: 600;
    font-size: 15px;
    color: #333;
}
.product-thumb .price-old {
    color: #999;
    font-size: 15px;
    text-decoration: line-through;
    margin-left: 10px;
}
.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}
.product-thumb .button-group {        
    background-color: transparent;    
    /*position: absolute;
    width: 90.5%;*/
    margin-top: 10px;
    /*bottom: -50px;*/
    /*opacity: 0;*/
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    margin: 0 auto;
   /* left: 0;
    right: 0;*/
}
.product-thumb .button-group button{
    background-color: #000 !important;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
}
.product-thumb:hover .button-group{
    bottom: 21px;
}
@media(min-width: 767px){
    .product-thumb .button-group .ad-to-cart{
        position: absolute;
        opacity: 0;
        bottom: 60%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .product-thumb:hover .button-group .ad-to-cart{
        opacity: 1;
    }
    .product-thumb .button-group .theme-btn-w{
        position: absolute;
        bottom: 32.5%;
        right: 16px;
    }
    .product-thumb .button-group .theme-btn-c{
        position: absolute;
        bottom: 32.5%;
        right: 76px;
    }
    .product-thumb .button-group .theme-btn{
        transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
        width: 16% !important;
        opacity: 0;
    }
    .product-thumb:hover .button-group .theme-btn{        
        opacity: 1;
    }

}
@media(max-width: 767px){
    .product-thumb .button-group{
        bottom: 0;
        opacity:1;
    }
    .product-thumb:hover .button-group{
    opacity:1;
    bottom: 0px;
}
}
.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
    .sca{
    margin-right: -24px !important;
    margin-top: -6px !important;
    }
    .rr{
        margin-top: -15px!important;
        width: 185px!important;
    }
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}
.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    /*background-color: rebeccapurple;*/
    background-color:#fff;  
    color: #999;
    font-size: 14px;
    /*color: #ededed;*/
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    /*border-left: 1px solid #ddd;*/
    padding-top: 2px;
    padding-bottom: 2px;
}
.product-thumb .button-group  .theme-btn {
    width: 20%;
    /*border-left: 1px solid #ddd;*/
}
.product-thumb .button-group button:hover {
    color: #fff;
    background-color: #e50019 !important;
    text-decoration: none;
    cursor: pointer;
}
.product-thumb .button-group button.ad-to-cart:hover{
    background-color: #e50019;
    color: #fff !important;
    /*transition: 0.5 ease-in-out;*/
}
/*@media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group .theme-btn {
        width: 33.33%;
    }
}*/
@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group .theme-btn {
        width: 33.33%;
    }
}
.ad-to-cart span{
   /* color: #e50019 !important;*/
}
.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbnails > li {
    margin-left: 20px;
}
.thumbnails {
    margin-left: -20px;
}
.thumbnails > img {
    width: 100%;
}
.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
}
.image-additional {
    max-width: 78px;
}
.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .sca {
    margin-top: 4px !important;
    text-align: right;
    }
    .footer_cc
    {
        margin-left:100px;
        margin-top:30px;width: 21.667%;color:black;
    }
     #content .footer_cc:nth-child(6n+1),
    #content .footer_cc:nth-child(4n+1),
    #content .footer_cc:nth-child(3n+1),
    #content .footer_cc:nth-child(2n+1) {
        clear:left;
    }
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear:left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear:left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear:left;
    }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    .rr{
        margin-top: 10px!important;
        width: 185px!important;
    }
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

    #column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
    width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
    min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
/*=== SB-Theme Home Page ===*/
/*our services*/
.our-service{
text-align: center;
}
.our-service .col-md-4{
/*    padding-left:40px; */
}
.service{
    border: 1px solid #eeeeee;
    padding: 20px;
    transition: 0.10 ease-in-out;
    margin-top:40px; 
}
.service i{
    font-size: 35px;
    margin-bottom:5px;
    color: #e50019;
}
.service h4{
    padding-left:20px;
    font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
}
.service p{
   /* padding-left:20px;*/
    font-size: 14px;   
    overflow: hidden;
}
.service:hover{
     border: 1px solid #000;
}
/*.service::before{
    content: '';
    position: absolute;
    left:10px;
    background-image:url('../image/icon.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    transition: all 600ms ease-in-out 0s;
}
.service:hover::before{
    content: '';
    position: absolute;
    left:5px;
    background-image:url('../image/icon-2.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}*/
/*our services end*/
/* why us*/
.why-us{
    background-color: #333;
}
.why-us-desc h3{
color: #fff;
font-weight: 400;
text-transform: capitalize;
font-size: 19px;
margin-top: 55px;
letter-spacing: 1px;
}
.why-cmn-title{
    margin-top: 70px;
}
.why-cmn-title h3{  
    color: #fff !important; 
}
.why-us-desc p{
color: #afafaf;
font-size: 14px;
}
/* why us end*/
/*All Product slider */
.owl-theme .owl-controls .owl-buttons div{
    /*margin: 50px;*/
}
.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0 !important;
}
.owl-controls .owl-buttons .owl-next{
    /*top: auto !important;
    right:auto !important;
    margin: 0 5px;*/
    position: unset;
}
.owl-carousel .owl-buttons .owl-prev{
    /*top: auto !important;
    left:auto !important;   
    margin: 0 5px;*/
    position: unset;
}
#feature-product.owl-carousel{
    background-color: transparent;
} 
#feature-product.owl-carousel .owl-wrapper-outer{
    border-radius: 0;
    box-shadow: none;
    border:none;
}
#special-product.owl-carousel{
    background-color: transparent;
} 
#special-product.owl-carousel .owl-wrapper-outer{
    border-radius: 0;
    box-shadow: none;
    border:none;
}
#latest-product.owl-carousel{
    background-color: transparent;
} 
#latest-product.owl-carousel .owl-wrapper-outer{
    border-radius: 0;
    box-shadow: none;
    border:none;
}
#bestseller-product.owl-carousel{
    background-color: transparent;
} 
#bestseller-product.owl-carousel .owl-wrapper-outer{
    border-radius: 0;
    box-shadow: none;
    border:none;
}
/*All Product slider End*/

/*all slider */
#about-slider.owl-carousel .owl-buttons div i{
   font-size: 20px;
   text-shadow: none;
   font-weight: bold; 
   line-height: 28px;
   text-align: center;
   margin: 0;
}
#about-slider .owl-controls .owl-buttons .owl-next{
    color: #505050;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #505050;
    opacity: 1 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 5px;
    top: 45%;
}
#about-slider .owl-controls .owl-buttons .owl-next:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#about-slider .owl-controls .owl-buttons .owl-next:hover i{
    color: #fff;
}
#about-slider .owl-controls .owl-buttons .owl-prev{
   color: #505050;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: 0px;
   text-align: center;
   background-color: transparent;
   border: 2px solid #505050;
   opacity: 1 !important;
   width: 39px;
   height: 40px;
   border-radius: 50%;
   left: 5px;
   top: 45%;
}
#about-slider .owl-controls .owl-buttons .owl-prev:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#about-slider .owl-controls .owl-buttons .owl-prev:hover i{
    color: #fff;
}
/*gallery*/
#img-gallery.owl-carousel .owl-buttons div i{
   font-size: 20px;
   text-shadow: none;
   font-weight: bold; 
   line-height: 28px;
   text-align: center;
   margin: 0;
}
#img-gallery .owl-controls .owl-buttons .owl-next{
    color: #505050;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #505050;
    opacity: 1 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 5px;
    top: 45%;
}
#img-gallery .owl-controls .owl-buttons .owl-next:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#img-gallery .owl-controls .owl-buttons .owl-next:hover i{
    color: #fff;
}
#img-gallery .owl-controls .owl-buttons .owl-prev{
   color: #505050;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: 0px;
   text-align: center;
   background-color: transparent;
   border: 2px solid #505050;
   opacity: 1 !important;
   width: 39px;
   height: 40px;
   border-radius: 50%;
   left: 5px;
   top: 45%;
}
#img-gallery .owl-controls .owl-buttons .owl-prev:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#img-gallery .owl-controls .owl-buttons .owl-prev:hover i{
    color: #fff;
}

#testimonial .owl-wrapper-outer{
    box-shadow: none !important;
}
/*all slider end*/
/*about us*/
.about-us{
    background-color: #f2f2f2;
}
#about-slider.owl-theme .owl-controls{
    margin-top: -50px ;
}
#about-slider.owl-theme .owl-controls .owl-page span{
   background-color: #333;   
}
/* about us end*/
/*image gallery */
#img-gallery{
    margin-top:40px;
}
/*image gallery end*/
/*parallex start*/
.prxl{
    background-image: url('../../../../../image/catalog/prlx.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100px;
    width: 100%;
}
/*parallex end*/
/*offer box*/
.offers{
    padding: 15px 0;
    background-color:#e50019;
    margin-top: 50px;
    margin-bottom: 40px;
}
.offers:hover{
   background-color:#333;   
}
.offer-miss h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #fff;
}
.offer-miss p{
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.offer-btn{
    margin-top: 10px !important;
    background-image: none;
    border-color: #E7A331 !important;
    box-shadow: none;
    background-color: #E7A331 !important;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;       
    transition: all 0.6s ease-in-out;
}
.offers:hover .offer-btn{
    background-color: #333 !important;
}
@media(max-width: 767px){
    .wid{
    margin-top: 30px!important;
    padding-left: 10px!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    }
    
    .widTwo{
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 30px!important;
    }
	.offer-btn{
		padding: 7px 20px;
	}
	.offer-miss p{
		font-size: 14px;
	}
	.offer-miss h3{
		font-size: 22px;
	}
}
/*offer box end*/
/*parallex client*/
.client-prlx{   
    /*background-image: url('../../../../../image/catalog/prlx.png');
    background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*height: 450px;*/
    padding-top:60px;    
    padding-bottom: 0px;
    background-color: #f3f3f3
    /*width: 100%;*/
}
#testimonial.owl-carousel{
    background-color: transparent !important;    
}
.text-content{
    background-color: rgba(255,255,255,0.8);       
    padding-top:50px;
    padding-bottom:40px;
    position: relative;
    z-index: 0;
    top: -35px;    
}
.text-content:before{
    position: absolute;
    content: '\f0d7';
    font-family: fontawesome;
    font-size: 50px;
    margin-left: -20px;
    bottom: -15px;
    color: #fff;
}
#testimonial .owl-wrapper-outer{
    border: none;
    padding: 20px;
    padding-bottom: 0;
}
#testimonial.owl-theme .owl-controls{
    margin-top: -20px !important;
}
#testimonial.owl-theme .owl-controls .owl-page span{
    background: #fff !important;
}
.t-img{
    position: relative;
    z-index: 99;
}
#testimonial .item h3{
	color: #e50019;
font-weight: 400;
text-transform: capitalize;
font-size: 18px;
letter-spacing: 1px;
}
.tst-cmn-title h3{      
    /* margin-bottom: 40px; */
}
.testimonial-title{
    margin-bottom:5px;   
}
#testimonial p{
    color: #000;
   /* color: #fff;*/
    font-size: 14px;
}
/*parallex client end*/
/* counter start */
.p-y-2 {
    padding-top: 28px;
    padding-bottom: 28px;
}
.p-y-3 {
    padding-top: 45px;
    padding-bottom: 45px;
}
.m-b-1 {
    margin-bottom: 18px;
}
.m-t-1 {
    margin-top: 18px;
}
.our-gallry{
    background-color: #fff;
}
.our-gallry .cmn-title h3{
    margin-top:80px;    
}
.our-gallry .cmn-title{
    margin-bottom: 20px;
}
.main_counter_content h2{    
    color: #fff;
}
.main_counter_content p{
    font-size: 16px;
    text-transform: capitalize;
}
 .main_counter_area{
    background: url(https://images.pexels.com/photos/196288/pexels-photo-196288.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat top center;
    background-size: cover;
    overflow: hidden;
}
.main_counter_area .main_counter_content .single_counter{
        background:#e50019;
        color: #fff;
    }
.main_counter_area .main_counter_content .single_counter i{
        font-size:36px;
    }
/* counter End */
/*=== SB-Theme Home End ===*/
/*=== SB-Theme Category Page ===*/
/*SB-theme Category List & Grid View Start*/
.sb-theme-cat-desc{
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
}
.sb-theme-list-grid button{
    padding: 6.5px 12px 8px 11px;
}
.sb-theme-list-grid{
    margin-left: 5px;    
}
.sb-theme-list-grid img{
    width: 16px;
    height: 17px;
}
.sb-theme-list-grid .btn-default{
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
    outline: none !important;
}
.sb-theme-list-grid .btn-default.active{
    background-color: #ed1c24 !important;
    border: 1px solid #919191;
}
.sb-theme-cat-list ul{
    padding: 0;
    margin: 0;
}
.sb-theme-cat-list ul li{
    display:inline;
    float: left;
    margin-left:5px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding:8px 15px 5px;    
}
.sb-theme-cat-list ul li:first-child{
    margin: 0;
}
.sb-theme-cat-list ul li a{
    text-decoration: none;
}
.sb-theme-cat-cmpr a{
    font-size: 15px;
    text-decoration: none !important;    
}
.product-grid .sb-theme-p-desc{
    display: none;
}
.product-list .sb-theme-p-desc{
    display: block;
 }
 .product-list .product-thumb .button-group{
 	position: unset;
 	opacity: 1;
 }
 .product-list .product-thumb .button-group button:hover{
 	background-color: #e50019 !important;
 }
@media(min-width: 767px){
.product-list .sb-theme-p-desc{
    text-align:left;
}
.product-list .product-thumb .price{
  text-align: left;
}
.product-list .product-thumb .rating{
    text-align: left;
}
.product-list .product-thumb h4 {
    text-align: left;
    margin-top: 20px;
}
.product-list .product-thumb .button-group{
    border: none;
}
.product-list .product-thumb .button-group .theme-btn{
    width: auto;
    min-width: 60px;
     background:#e50019;
     color:#fff !important;
}
.product-list .product-thumb .button-group button{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;    
    background:#e50019;
    color: #fff;
    margin-left: 5px;
    opacity: 1;
    position: unset;
    width: auto !important;
}

}
@media(min-width: 499px) AND (max-width: 767px){
    .product-grid.col-xs-12{
        width:50% !important;
    }
}
@media(min-width: 992px) AND (max-width:1199px){
  .product-grid{
    width:50%;
  }  
}
/*SB-theme Category List & Grid View End*/
/* Sort By*/
.srt-by{
    border:none;
    font-size: 15px !important;
    background-color: transparent;
}
/* Sort By End*/
/*category page products*/
@media(max-width: 767px){
	.category-products .product-thumb{
 	margin-bottom: 55px;
	}	
	.category-products .product-thumb .button-group{
		bottom: 15px;
	}
}
@media(min-width:600px) AND (max-width: 767px){
	.category-products .product-list.col-xs-12{
		width: 50%;
	}
}
@media(min-width:768px) AND (max-width: 991px){
	.product-list .product-thumb .image{
		width: 50%;
	}
	.product-list .product-thumb .caption{
		padding: 0;
	}
}
/*category page products End*/
/*Color Option*/
.color-title{
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.custom-color .custom-radio{
    display: inline-block;
}
.custom-radio .btn-default{
    border-color: transparent;
    background-color: transparent;
    border-radius: 0;
    margin: 8px 3px;
    padding: 0;
}
.custom-color.color .custom-radio .img-thumbnail{
    height: 35px;
    width: 35px;
    border-radius: 0;
}
.custom-radio .img-thumbnail{
    display: block;
    padding: 0;    
}
.custom-radio .btn-default.active{
    box-shadow: 0 0 5px 0 #000;
    display: inline-block;
    opacity: 0.6;
}
/*Color Option End*/
/*Left Category Menu Title*/

/*Left Category Menu Title End*/
/*Left Category Design*/
.ct-op-title-main{
    background-color: #233888 !important;
    border-color: #ddd !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
}
.ct-op-title{
    color: #000 !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border: none !important;
    background: #f1f1f1;
}
.ct-op-choose{
    border: none;
    padding-top: 0;
    max-height: 190px;
    overflow-y: scroll;
}
.ct-op-choose .checkbox label, .ct-op-choose .radio label{
    font-size: 14px;
    margin-top: 5px;
}
/*Left Category Design End*/
/*=== SB-Theme Category Page End===*/
/*== SB-theme Product page start ==*/
/*#product .btn-primary{
border-radius: 50PX;    
}*/
.sb-theme-p-d-tab{
    /*background-color: #fff;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
    margin-top: 40px;
    overflow: hidden;
}
.p-p{
    /*background-color: #ffffff;*/
    padding-top: 5px;
}
@media(min-width:768px) AND (max-width: 991px){
.p-p:first-child .col-sm-5{
    width: 100%;
}
.p-p .col-sm-7{
   width: 100%;
}
}
@media(min-width:1400px){
.p-p:first-child .col-sm-5{
    width: 34.667%;
}
}
.p-p .thumbnail{
    margin-left: 0;
}
.p-p .thumbnails > li{
    margin-left: 0;
}
.p-p-img{
    border: 1px solid;
}
.p-p-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    letter-spacing: 1px;
    margin-top: 0;
}
.p-p-detail li{
    font-size: 16px;
    margin-bottom: 10px;   
}
.p-p-detail li span{
    font-weight: 600;   
    color: #333;
    margin-right:7px;
}
.pp-price-title{
   font-weight: 600;
    color: #333;
    font-size: 16px;
    margin-right:7px;
}
}
.p-p-qty label{
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    float: left;     
    margin-right: 33px;
    line-height: 34px;
    text-align: center;
}
.p-p-qty{
    width: 50px !important;
}
.p-p-qty input{
    width: auto;
    min-width: 80px;
    text-align: center;
}
.p-p-btn{
    margin-left: 5px !important;
    margin-bottom: 6px;
}
.p-p-wishlist-compare{
    display: inline-block;
    width: 100%;
}
.product-prices {
 font-size:18px;
 color:#ed1c24;
 font-weight: 600;
 margin-right: 7px;
}
/*.p-p-wishlist-compare button{
    background-color:transparent;
    width: 48%;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    border-color: #333333;
    border-radius: 50px;
}*/
/*.p-p-price-detail{
    background: #f2f2f2;
    padding: 40px 20px 40px 20px;
    border: 1px solid #e1e1e1;
}*/
.p-p-stock li{
    font-size: 16px;    
    color: #666666;
    margin-bottom: 8px;
    font-weight: 600;
}
.p-p-stock li span{
    color: green;
    font-weight: 600;
}
/*SB-Theme main image and additional zoom start */
.zoomContainer{
    max-width: 20px !important;
}
.zoomWindow{
    top:0px !important;
}
.zoomWrapper {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.zoomWrapper img {
    margin: 0 auto;
    padding: 0;
    height: auto !important;
    width: auto !important;
}
.zoomLens{
    border-radius: 50%;
}
#sb-additional-img .owl-item img{
    margin:0 auto;
}
#sb-additional-img .owl-item img{
    margin: 0 auto;
}
.sb-theme-img-box.thumbnails{
    margin-left: 0;
}
.sb-theme-img-box .thumbnail{   
    padding: 0;
    border-radius: 0;  
    margin-bottom:15px;
}
#sb-additional-img .owl-wrapper-outer{
    border: none;
    box-shadow: none;
}
#sb-additional-img.owl-theme .owl-controls .owl-buttons div{
    position: absolute;
    top: 30%;
    line-height: 20px;
    height: 25px;
    width: 25px;
}
/*SB-Theme Additional Slider */
/*#sb-additional-img .owl-controls .owl-buttons .owl-prev{
    color: #505050;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;    
    background-color: transparent;
    border: 2px solid #505050;
    opacity: 1 !important;
    width: 29px;
    height: 30px;
    border-radius: 50%;
    left: 5px;
    top: 38%;    
}
#sb-additional-img .owl-controls .owl-buttons .owl-left i{
    margin-right:1px;
}
#sb-additional-img .owl-controls .owl-buttons .owl-next{
    color: #505050;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    width: auto;
    background-color: transparent;
    border: 2px solid #505050;
    opacity: 1 !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 5px;
    top: 38%;
}
#sb-additional-img .owl-controls .owl-buttons .owl-next i{
    margin-left:1px;
}
#sb-additional-img.owl-carousel .owl-buttons div i{
    line-height: 21px;
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-shadow: none;
    font-weight: bold;
}
#sb-additional-img .owl-controls .owl-buttons .owl-prev:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#sb-additional-img .owl-controls .owl-buttons .owl-next:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#sb-additional-img .owl-controls .owl-buttons .owl-prev:hover i{
    color: #fff;
}
#sb-additional-img .owl-controls .owl-buttons .owl-next:hover i{
    color: #fff;
}*/
/*SB-Theme Additional Slider End */
/* SB-Theme main image and additional zoom End */
/* Related slider start */
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-prev{
    color: #505050;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;    
    background-color: transparent;
    border: 2px solid #505050;
    opacity: 1 !important;
    width: 39px;
    height: 40px;
    border-radius: 50%;
    left: 5px;
    top: 38%;    
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-left i{
    margin-right:1px;
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-next{
    color: #505050;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    width: auto;
    background-color: transparent;
    border: 2px solid #505050;
    opacity: 1 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 5px;
    top: 38%;
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-next i{
    margin-left:1px;
}
#sb-theme-rltd-prdct.owl-carousel .owl-buttons div i{
    line-height: 37px;
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-shadow: none;
    font-weight: bold;
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-prev:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-next:hover{
    background-color: #505050;
    border: 2px solid #505050;
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-prev:hover i{
    color: #fff;
}
#sb-theme-rltd-prdct .owl-controls .owl-buttons .owl-next:hover i{
    color: #fff;
}
/*@media(min-width:992px){
    .p-img:first-child .col-sm-5{
        width: 34.6667%;
    }
}*/
/* Related slider End */
/*== SB-theme Product page End ==*/
/* product,special,search,brand,other start*/
.cmn-pad-l-r-5{
    padding-left: 5px;
    padding-right: 5px;
}
/* product,special,search,brand,other Pages End*/
.pertamina-logo{
    position: fixed;
    right: -1px;
    bottom: 0px;
    cursor: pointer;
    width: 180px;
    /*height: 58px;*/
    /*background: #ed1c24;*/
    /*border: 1px solid  #ed1c24;*/
    display: none;    
    outline: none;
    z-index: 2;
}
/*== SB-Theme Go Top  ==*/
#go-top {
    border-radius: 3px;
    position: fixed;
    right: 20px;
    bottom: 75px;
    cursor: pointer;
    width: 38px;
    height: 38px;
    background: #ed1c24;
    border: 1px solid  #ed1c24;
    display: none;    
    outline: none;
    z-index: 2;
}
#go-top i {
    color: white;
    position: fixed;
    font-size: 20px;
    bottom: 85px;
    right: 33px;
    /*font-weight: 600;*/
}
#go-top:hover{
    background:  #000000;
}
/*== SB-Theme Go Top End ==*/

/*portfolio*/

.gallery-title
{
    font-size: 36px;
    color: #e50019;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #e50019;
    border-radius:0px;
    text-align: center;
    color: #e50019;
    margin-bottom: 60px;
    background-color: transparent;
    background-image: none;
    margin-top: 20px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #e50019;
    border-radius:0;
    text-align: center;
    color: #ffffff;
    background-color: #e50019;
    background-image: none;

}
.btn-default:active .filter-button:active
{
    background-color: #e50019;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    /*margin-bottom: 30px;*/
}
/*portfolio end*/

/* blog */
.blog-heading{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0 15px 0;
}
/* BLOG START  */
.blog_inspire{
    margin-left: -15px;
    margin-right: -15px;
}
.blog-date{
    float: left;
}
#content .box-product .blog-items {
    display: inline-block;
    float: left;
}
.blog-left {
    /*margin-bottom: 10px;*/
}
.date-blog-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.the_dated{
    font-size: 40px;
}
.view-blog {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 10px;
}
.read-more {
    float: left;
}
.author {
    color: #808080;
    margin-bottom: 15px;
}
.blog-right .author .fa.fa-user {
    color: #9c9c9c;
    margin-right: 3px;
}
.blog-desc {
    margin:10px 0px 20px 0;
    color: #797979;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 1px;
}
.blog-img {
    padding: 10px 0 0;
}
.date-time, .write-comment > a {
/*     color: #fff; */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
.write-comment > a{
	color: #cccccc;
}
.date-time{
    margin-left: 5px;
    color: #cccccc;
}
#blog.owl-carousel{
    background-color: transparent;
}
#blog .owl-wrapper-outer{
    border: none !important;
    box-shadow:  none !important;
}
#content #blog-carousel, #content #blog-grid {
    padding: 0px 0;
    border: none;
    overflow: visible;
}
#content #blog-carousel .blog-item {
    float: left;
}
#content #blog .product-block, #content #blog .product-block {
    margin: 5px 0px;
    overflow: hidden;
}
#content #blog-carousel .product-block:hover, #content #blog-grid .product-block:hover {
    box-shadow: none;
}
.blog-right h4 a {
    font-size: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #ed1c24 ;
}
.blog-right{
    border: 1px solid #ededed;
    padding-left: 10px;
}
.blog-right h4{
/*     padding-top:30px; */
}
.product-block:hover .blog-right h4 a {
    color: black;
}
.blog_comment {
    font-size: 16px;
    margin: 0 25px;
    float: left;
}
.blog-right .read_link > a {
    text-decoration: underline;
}
.read_link{
    margin-top: 15px;
}
.read_link .fa.fa-book {
    margin-right: 5px;
}
.inspire-single-blog .blog-desc {
    color: #797979;
    text-align: justify;
    margin-top: 15px;
}
.inspire-single-blog .block-title h3 {
    padding: 10px 0;
    color: #222;
}
.panel {
    box-shadow: none;
}
.blog-comment{
    font-size: 16px;
    color: #e50019;
    margin-top: 20px;
}
.inspire-single-blog .view-comment .panel-default {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: medium none;
    border-right: medium none;
    box-shadow: none;
    padding: 20px 0;
}
.view-comment .name {
    color: #161b1e;
    font-weight: 700;
}
.view-comment .date {
    color: #bbb;
    font-size: 12px;
}
.inspire-blog-image {
    position: relative;
    transition: all 600ms ease-in-out 0s;
-webkit-transition: all 600ms ease-in-out 0s;
-moz-transition: all 600ms ease-in-out 0s;
-o-transition: all 600ms ease-in-out 0s;
-ms-transition: all 600ms ease-in-out 0s;
}
/*.inspire-blog-image:hover{
    background-color: #000;
    transition: all 600ms ease-in-out 0s;
-webkit-transition: all 600ms ease-in-out 0s;
-moz-transition: all 600ms ease-in-out 0s;
-o-transition: all 600ms ease-in-out 0s;
-ms-transition: all 600ms ease-in-out 0s;
}
.inspire-blog-image:hover img{
    opacity: 0.5;   

}*/
.img-thumbnail{
    border: none;
}
.headingpage{
    font-size: 20px;
    letter-spacing: 1px;
    color: #212121;
}
/* .inspire-post-author{
    text-align: center;
} */
.inspire-post-author{
/* 	display: inline;
	float: left;
	width: 100px;
	color: #fff;
	text-align: center;
	margin-right: 10px;
	background-color: #e50019; */
}
.product-block .blog-left .inspire-post-author {
    bottom: -20px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    left: 20px;
    position: absolute;
    text-transform: capitalize;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    z-index: 9999;
    text-align: center;
}
.product-block:hover .blog-left .inspire-post-author {
    bottom: 23px;
}
.write-comment > a:hover, .product-block .blog-right a:hover {
    color: black;
}
.product-block .blog-left .inspire-post-author::before {
    border-bottom: 1px solid #fff;
    bottom: -7px;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 30px;
}
.inspire_blog_page .panel-body {
    border: medium none;
    padding: 0px;
}
.inspire_blog_page .inspire-blog-image {
    background-position: center center;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.inspire_blog_page .panel.panel-default {
    border: medium none;
}
.inspire_blog_data_left .blog-date {
    color: #e50019;
    font-size: 14px;
}
.inspire_blog_page .panel-body h5 {
    color: #222;
    display: inline;
    font-size: 24px;
    text-transform: capitalize;
}
.blog_links .blog_autor {
    float: left;
    font-size: 12px;
    position: relative;
}
.blog_links .write-comment {
    font-size: 16px;
}
.blog_links .fa {
    margin-right: 5px;
}
.blog_links {
    margin: 20px 0px;
}
.inspire_blog_page .panel-body a {
    color: #2b2b2b;
}
.inspire_blog_page .panel-body a:hover, .inspire_blog_page .panel-body a:focus {
    color: #e50019;
}
.inspire_blog_page .read-more {
    float: left;
    text-align: left;
    margin: 20px 0 0;
}
.inspire_blog_page .read-more a {
    background: #222;
    border: 1px solid #222;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    transition: all 300ms ease 0s;
    text-transform: capitalize;
}
.inspire_blog_page .read-more a:hover {
    background: #e50019;
    border: 1px solid #e50019;
    color: #fff;
    transition: all 300ms ease 0s;
}
.inspire_blog_page .inspire-blog-image .blog-post-image-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    visibility: hidden;
    width: 100%;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.zoom {
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -khtml-opacity: 0;
    padding: 10px 14px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.zoom .fa, .inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.readmore_link .fa {
    color: #fff;
    font-size: 40px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.readmore_link {
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #fff;
    display: inline-block;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -khtml-opacity: 0;
    padding: 10px 14px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
}
.inspire_blog_page .inspire-blog-image:hover .blog-post-image-hover {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
    -ms-opacity: 0.3;
    -khtml-opacity: 0.3;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    visibility: visible;
}
.inspire_blog_page .inspire-blog-image:hover .inspire_post_hover, .inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.readmore_link, .inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.zoom {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -khtml-opacity: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.readmore_link:hover, .inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.zoom:hover {
    background-color: #3498db;
    border-color: #3498db;
}
.inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.zoom .fa, .inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.readmore_link .fa {
    font-size: 14px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.inspire-single-blog .blog-img {
    padding: 0;
}
#add-comment-blog.panel-default {
    border: medium none;
}
#content.inspire-single-blog > h4 {
    font-weight: 700;
    font-size: 17px;
}
.inspire-single-blog .view-comment .name, .inspire-single-blog .view-comment .date, .inspire-single-blog .view-comment .col-sm-8, .inspire-single-blog .view-comment .col-sm-3 {
    width: 100%;
}
.user_icon {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    float: left;
    margin: 2px 15px 15px 0;
    padding: 7px 13px;
}
.user_icon .fa {
    color: #d50000;
    font-size: 20px;
    margin-top: 3px;
}
#add-comment-blog .col-sm-10 {
    width: 66.6667%;
}
#add-comment-blog .col-sm-2 {
    width: 25%;
    display: none;
}
.blog_inspire .heading{
    margin-left: 15px;
}
@media(min-width: 980px) and (max-width: 991px){
.product-block .blog-left .inspire-post-author{
      display: none;
}
}
@media(min-width: 992px) and (max-width: 1199px){
.product-block .blog-left .inspire-post-author{
      bottom: -50px;
}
}
@media(min-width: 320px) and (max-width: 767px){
    .blog-right {
        margin-top: 25px;
    }
}
@media(min-width: 320px) and (max-width: 360px){
    .blog_links .write-comment {
        font-size: 13px;
    }
    .blog_comment {
        font-size: 14px;
        margin: 0 10px;
    }
}
/* inspire MAGNIFIC POPUP CSS */
.inspire-blog-image .inspire_post_hover {
    left: 0;
    margin: 0 auto;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 46%;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover {
    top: 45%;
}
.product-block:hover .blog-left .inspire_post_hover, .product-block:hover .blog-left .zoom, .product-block:hover .blog-left .readmore_link {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -kkhtml-opacity: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.product-block:hover .blog-post-image-hover {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -kkhtml-opacity: 1;
}
.product-block .inspire-blog-image .inspire_post_hover .zoom, .product-block .inspire-blog-image .inspire_post_hover .readmore_link {
    display: inline-block;
    float: none;
    color: transparent;
    position: relative;
    width: 40px;
}
.product-block .inspire-blog-image .inspire_post_hover .readmore_link {
    margin-left: 10px;
}
.inspire-blog-image .inspire_post_hover .zoom::before, .inspire-blog-image .inspire_post_hover .readmore_link::before {
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\f00e";
    font-family: "FontAwesome";
    font-size: 14px;
    height: 40px;
    left: 0;
    margin: auto;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -khtml-opacity: 0;
    padding: 8px 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    width: 40px;
}
.inspire-blog-image .inspire_post_hover .readmore_link::before {
    content: "\f0c1";
}
.product-block:hover .inspire-blog-image .inspire_post_hover .readmore_link::before, .product-block:hover .inspire-blog-image .inspire_post_hover .zoom::before {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -khtml-opacity: 1;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.blog-left .inspire-blog-image .zoom:hover::before, .blog-left .inspire-blog-image .readmore_link:hover::before {
    background-color: #e50019;
    border-color: #e50019;
}
.width1
{
    width: 100%;
}
.sticker
{
    position: absolute;
    right: 0px;
    z-index: 2;
}
.foot2
{
    position: relative;
    height: 40px;
    bottom: -20px;
    z-index: 1;
}
.footText
{
    position: relative;
    transform: translate(0,18px);
    font-weight: 600;
    padding-top: 0px;
    top: -7px;
    font-size: 12px;
}
.marginTop1
{margin-top: 20px}
.add
{
   padding: 7.5px 30px;
}
@media (max-width: 650px)
{
    .power-by
    {
        font-size:10px;
    }
}
@media (max-width: 500px)
{
    .sticker{display: none;}
    .power-by
    {
        font-size:10px;
        text-align: center;
    }
}
