.form-controls-input {
    height: 150px;
    overflow: auto;
}
.form-controls-input .form-check + .form-check {
    padding-top: 0.4rem;
}
.form-controls-input .form-check-input {
    position: absolute;
    margin-top: 0.2rem;
    margin-left: -1.25rem;
}
