{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left" width="20px">{{ column_quote_id }}</td>
                <td class="text-left">{{ column_full_name }}</td>
                <td class="text-left">{{ column_phone }}</td>
                <td class="text-left">{{ column_email }}</td>
                <td class="text-left">
                  &nbsp;&nbsp;{{ column_product }}
                  <span class="pull-right">{{ column_qty }} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td class="text-right" width="100px">{{ column_date }}</td>
                <!-- <td class="text-right" width="50px"></td> -->
              </tr>
            </thead>
            <tbody>
              {% if quotes %}
              {% for quote in quotes %}
              <tr>
                <td class="text-center">{{ quote.id }}</td>
                <td class="text-left">{{ quote.full_name }}</td>
                <td class="text-left">{{ quote.phone }}</td>
                <td class="text-left">{{ quote.email }}</td>
                <td class="text-left">
                  <table class="table table-bordered table-hover">
                    {% for product in quote.product_data %}
                    <tr>
                      <td class="text-left">
                        <a href="{{ quote.href }}{{ product.product_id }}" target="_blank">
                          {{ product.name }} <i class="fa fa-external-link-square"></i> </a>
                      </td>
                      <td class="text-center">{{ product.qty }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </td>
                <td class="text-right">{{ quote.date_added }}</td>
                <!-- <td class="text-right">
                  <button class="btn btn-default"><i class="fa fa-trash text-danger"></i></button>
                </td> -->
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="4">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>

      </div>
    </div>
  </div>
</div>
{{ footer }}