<form action="" method="post" id="results-form">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
      <h5 class="modal-title">{{ heading_result }}</h5>
    </div>
    <div class="modal-body">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-email">{{ entry_email }}</label>
              <input type="email" name="filter_email" value="{{ filter_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-btn table-bordered table-hover">
          <thead class="thead-sort thead-light">
          <tr>
            <th style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\'').prop('checked', this.checked);" /></th>
            <th class="text-left"><a href="{{ sort_customer }}"{{ sort == 'customer' ? ' class="' ~ order|lower ~ '"' : '' }}>{{ column_customer }}</a></th>
            <th class="text-left"><a href="{{ sort_email }}"{{ sort == 'email' ? ' class="' ~ order|lower ~ '"' : '' }}>{{ column_email }}</a></th>
            <th class="text-center"><a href="{{ sort_status }}"{{ sort == 'status' ? ' class="' ~ order|lower ~ '"' : '' }}>{{ column_status }}</a></th>
            <th class="text-center"><a href="{{ sort_date }}"{{ sort == 'date' ? ' class="' ~ order|lower ~ '"' : '' }}>{{ column_date }}</a></th>
          </tr>
          </thead>
          {% if validations %}
          <tbody>
          {% for validation in validations %}
          <tr>
            <td class="text-center"><input type="checkbox" name="selected[]" value="{{ validation.email_validation_id }}"{{ validation.email_validation_id in selected ? ' checked="checked"' }} /></td>
            <td class="text-left">{% if validation.url_edit %}
              <a href="{{ validation.url_edit }}">{{ validation.name ~ (validation.total_emails > 1 ? ' (' ~ validation.total_emails ~ ')' : '') }}</a>
              {% else %}
              {{ validation.name }}
              {% endif %}</td>
            <td class="text-left">{{ validation.email }}</td>
            <td class="text-center">
              {% if validation.status == 'valid' %}
                <i class="fa fa-fw fa-check text-success"></i>
              {% else %}
                <i class="fa fa-fw fa-times text-warning"></i> {{ validation.status }}
              {% endif %}
            </td>
            <td class="text-center">{{ validation.date }}</td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <td>
              <button type="submit" onclick="$('#results-form').attr('action', '{{ action }}&action=delete')" class="float-right btn btn-danger" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash"></i></button>
            </td>
            <td colspan="2"></td>
            <td class="text-center"><div class="btn-group" style="font-size:0">
                <button type="submit" onclick="$('#results-form').attr('action', '{{ action }}&action=enable')" class="btn btn-success" data-toggle="tooltip" title="{{ button_enable }}" type="button"><i class="fa fa-check-circle"></i></button>
                <button type="submit" onclick="$('#results-form').attr('action', '{{ action }}&action=disable')" class="btn btn-warning" data-toggle="tooltip" title="{{ button_disable }}" type="button"><i class="fa fa-times-circle"></i></button>
              </div></td>
            <td></td>
          </tr>
          </tfoot>
          {% else %}
          <tbody>
          <tr>
            <td class="text-center" colspan="5">{{ text_no_results }}</td>
          </tr>
          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
  </div>
</form>