{{ header }}
<div class="breadcrumb-bg">
  <div class="container">
    <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  </div>
</div>
<div class="container">
     <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
        <h4 class="headingpage">
            {{ text_blogs }}
        </h4>
        {% if blogs %}
            {% for blog in blogs %}
                <div class="panel-default inspire_blog_page">
                    {# <h4>{% blog.name %}</h4> #}
                    {% if blog.blog_data %}
                        {% for topic in blog.blog_data %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        {% if topic.image %}
                                            <div class="inspire-blog-image">
                                                <div class="blog-post-image-hover"> </div>
                                                <img src="{{ topic.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <h5>
                                            <a href="{{ topic.href }}">{{ topic.title }}</a>
                                        </h5>
                                        <div class="blog_links">
                                            <div>
                                                <span class="blog-date">
                                                    {{ topic.date_added }}
                                                </span>
                                            </div>
                                            <div>
                                                <span class="blog_comment">
                                                   {{ topic.total_comments }} {{ entry_comment }}
                                                </span>
                                            </div>
                                            <div>
                                                <span class="write-comment">
                                                    <a href="{{ topic.href }}">
                                                        <i class="fa fa-comment"></i>{{ text_comment }}
                                                    </a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="blog-desc">{{ topic.description }}</div>
                                        <div class="read-more"> <a href="{{ topic.href }}">{{ text_read_more }}</a> </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="panel-body text-center">{{ text_no_blogs }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            {% else %}
                <div class="panel-body text-center">{{ text_no_blogs }}</div>
            {% endif %}
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
{{ footer }}