{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-fbm" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
	  </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	<div id="total-recovered"></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-fbm" class="form-horizontal">
			<ul class="nav nav-tabs" id="tabs">
				<li class="active"><a href="#tab-setting" data-toggle="tab"><i class="fa fa-fw fa-cogs"></i> {{ tab_setting }}</a></li>
				<li><a href="#tab-localisation" data-toggle="tab"><i class="fa fa-fw fa-language"></i> {{ tab_localisation }}</a></li>
				<li><a href="#tab-help" data-toggle="tab"><i class="fa fa-fw fa-question-circle"></i> {{ tab_help }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="tab-setting"> 
					<fieldset>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
							<div class="col-sm-10">
								<select name="module_facebook_message_status" id="input-status" class="form-control">
									{% if module_facebook_message_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
									{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
									{% endif %}
								</select>
							</div>
						</div>											
					</fieldset>	

					<fieldset>
						<legend class="small text-center"></legend>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
								<div class="col-sm-10">
									<select name="module_facebook_message_type" id="input-type" class="form-control">
										{% if acebook_message_type == 'messenger' %}
										<option value="messenger" selected="selected">{{ text_messenger }}</option>
										<option value="default">{{ text_default }}</option>
										{% else %}
										<option value="messenger">{{ text_messenger }}</option>
										<option value="default" selected="selected">{{ text_default }}</option>
										{% endif %}
									</select>
								</div>
							</div>							
							<div class="form-group required hidden">
								<label class="col-sm-2 control-label" for="input-app-id"><span data-toggle="tooltip" data-html="true" title="{{ help_app_id }}">{{ entry_app_id }}</span></label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-key"></i></span>	
										<input type="text" name="module_facebook_message_app_id" placeholder="{{ entry_app_id }}" id="input-app-id" value="{{ module_facebook_message_app_id }}" class="form-control" />
									</div>
									{% if error_app_id %}
									<div class="text-danger">{{ error_app_id }}</div>
									{% endif %}
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-page-url"><span data-toggle="tooltip" data-html="true" title="{{ help_page_url }}">{{ entry_page_url }}</span></label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-link"></i></span>	
										<input type="text" name="module_facebook_message_page_url" placeholder="{{ entry_page_url }}" id="input-page-url" value="{{ module_facebook_message_page_url }}" class="form-control" />
									</div>
									{% if error_page_url %}
									<div class="text-danger">{{ error_page_url }}</div>
									{% endif %}
								</div>
							</div>							
							<div class="form-group plugin-type plugin-type-default">
								<label class="col-sm-2 control-label" for="input-width"><span data-toggle="tooltip" data-html="true" title="{{ help_width }}">{{ entry_width }}</span></label>
								<div class="col-sm-10">
									<div class="input-group">	
										<input type="text" name="module_facebook_message_width" placeholder="{{ entry_width }}" id="input-width" value="{{ module_facebook_message_width }}" class="form-control" />
										<span class="input-group-addon">px</span>
									</div>
								</div>
							</div>
							<div class="form-group plugin-type plugin-type-default">
								<label class="col-sm-2 control-label" for="input-height"><span data-toggle="tooltip" data-html="true" title="{{ help_height }}">{{ entry_height }}</span></label>
								<div class="col-sm-10">
									<div class="input-group">	
										<input type="text" name="module_facebook_message_height" placeholder="{{ entry_height }}" id="input-height" value="{{ module_facebook_message_height }}" class="form-control" />
										<span class="input-group-addon">px</span>
									</div>
								</div>
							</div>	
							<div class="form-group plugin-type plugin-type-default">
								<label class="col-sm-2 control-label" for="input-small-header">{{ entry_small_header }}</label>
								<div class="col-sm-10">
									<select name="module_facebook_message_small_header" id="input-small-header" class="form-control">
										{% if module_facebook_message_small_header %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>
								</div>
							</div>							
					</fieldset>	

					<fieldset>
						<legend class="small text-center">{{ legend_display_mode_position }}</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-display-mode">{{ entry_display_mode }}</label>
							<div class="col-sm-10">
								<select name="module_facebook_message_display_mode" id="input-display-mode" class="form-control">
									{% if module_facebook_message_display_mode == 'default' %}
									<option value="default" selected="selected">{{ text_default }}</option>
									<option value="icon">{{ text_icon }}</option>					
									{% else %}
									<option value="default">{{ text_default }}</option>
									<option value="icon" selected="selected">{{ text_icon }}</option>										
									{% endif %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-display-position">{{ entry_display_position }}</label>
							<div class="col-sm-10">
								<select name="module_facebook_message_display_position" id="input-display-position" class="form-control">
									{% if module_facebook_message_display_position == 'bottom-left' %}
									<option value="bottom-left" selected="selected">{{ text_bottom_left }}</option>
									<option value="bottom-right">{{ text_bottom_right }}</option>
									{% else %}
									<option value="bottom-left">{{ text_bottom_left }}</option>
									<option value="bottom-right" selected="selected">{{ text_bottom_right }}</option>
									{% endif %}
								</select>
							</div>
						</div>
					</fieldset>	
				</div>								

				<div class="tab-pane" id="tab-localisation">
					<div class="tab-content">				
						<fieldset class="plugin-type plugin-type-default">
							<legend class="small text-center">{{ legend_localisation }}</legend>
							
							<div class="alert alert-info"><i class="fa fa-fw fa-info-circle"></i> {{ help_localisation_info }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
							
							{% for language in languages %}
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-localisation-{{ language.language_id }}"><span data-toggle="tooltip" data-html="true" title="{{ help_localisation }}">{{ language.name }}</span></label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input name="module_facebook_message_localisation[{{ language.language_id }}][localisation]" placeholder="{{ help_fb_locale }}" id="input-localisation-{{ language.language_id }}" value="{{ module_facebook_message_localisation[language.language_id].localisation ? module_facebook_message_localisation[language.language_id].localisation }}" class="form-control" />
									</div>
								</div>
							</div>		
							{% endfor %}
						</fieldset>	
						<fieldset>
							<legend class="small text-center">{{ legend_widget }}</legend>
							{% for language in languages %}
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-widget-{{ language.language_id }}">{{ language.name }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input name="module_facebook_message_localisation[{{ language.language_id }}][widget_text]" placeholder="{{ help_widget }}" id="input-widget-{{ language.language_id }}" value="{{ module_facebook_message_localisation[language.language_id].widget_text ? module_facebook_message_localisation[language.language_id].widget_text }}" class="form-control" />
									</div>
								</div>
							</div>		
							{% endfor %}
						</fieldset>
					</div>
				</div>
				
				<div class="tab-pane" id="tab-help">
					<div class="tab-content">
						Change Log and HELP Guide is available: <a href="http://www.oc-extensions.com/Facebook-Message-Opencart-2.x" target="blank">HERE</a><br /><br />
						If you need support email us at <strong>support@oc-extensions.com</strong> (Please first read help guide) 				
					</div>
				</div>				
			</div>
		</form>	
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
$('select[name=\'module_facebook_message_type\']').on('change', function() {
	$('.plugin-type').hide();

	$('.plugin-type-' + $(this).val()).show();
});

$('select[name=\'module_facebook_message_type\']').trigger('change');
//--></script></div>
{{ footer }}