{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-option').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
       <form action="{{delete}}" method="post" enctype="multipart/form-data" id="form-attribute-group">
		
		
		
          <div class="table-responsive">
		
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left"><a>{{column_name}}</a>
                   </td>
                  <td class="text-right">
                    <a>{{column_sort_order}}</a>
                    </td>
                  <td class="text-right"><a>{{column_faq}}</a></td> 
				  <td class="text-right"><a>{{column_group}}</a></td>
                </tr>
              </thead>
              <tbody>
              {% if  faq_groups %}
                {% for faqs_groups in faq_groups %}
                <tr>
                  <td class="text-center">{% if faqs_groups.group_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{faqs_groups.group_id}}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{faqs_groups.group_id}}" />
                    {% endif %}</td>
                  <td class="text-left">{{faqs_groups.name}}</td>
                  <td class="text-right">{{faqs_groups.sort_order}}</td>
				  <td class="text-right"><a href="{{faqs_groups.addfaq}}" data-toggle="tooltip" title="Add/edit FAQ" class="btn btn-primary"><i class="fa fa-plus"></i></a></td>
                  <td class="text-right"><a href="{{faqs_groups.edit}}" data-toggle="tooltip" title="edit group" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
				  
                </tr>
               {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="5">{{text_no_results}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
   <script src="https://lokal-werbung.ch/development/support/admin/view/javascript/jscolor.js"></script>
</div>
{{ footer }}