{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-option" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{action}}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          <ul class="nav nav-tabs">
           
            <li class="active"><a href="#tab-attribute" data-toggle="tab">{{tab_attribute}}</a></li>
          
          </ul>
        
           
           <div class="tab-pane" id="tab-attribute">
              <div class="table-responsive">
                <table id="attribute" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{entry_attribute}}</td>
                      <td class="text-left">{{entry_text}}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    
					
				{% set count = 10 %}
			    {% set attribute_row = 0 %}
               
				{% if product_attributes %}
				
				
				 {% for product_attribute in product_attributes %}
				 
				 
					   {% for language in languages %}
                 <tr id="attribute-row{{attribute_row}}{{count}}" >
					
                      <td class="text-left" style="width: 40%;">
					      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
					  <input type="text" name="product_attribute[product_attribute_description][{{count}}][{{ language.language_id}}][name]" value="{{ product_attribute.product_attribute_description[language.language_id] ? product_attribute.product_attribute_description[language.language_id].name }}" placeholder="{{entry_attribute}}" class="form-control" />
                        <input type="hidden" name="product_attribute[{{attribute_row}}][group_id]" value="{{product_attributes.group_id}}" />
						</div></td>
                      <td class="text-left">
					  
						
                        <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                          <textarea class="form-control summernote"  name="product_attribute[product_attribute_description][{{ count }}][{{ language.language_id}}][text]{{ count }}" rows="5" data-toggle="summernote" data-lang="{{ summernote }}"  placeholder="{{entry_text}}" class="form-control">{{ product_attribute.product_attribute_description[language.language_id] ? product_attribute.product_attribute_description[language.language_id].text }}</textarea>
						  
						  
						
                        </div>
                        </td>
                      <td class="text-left"><button type="button" onclick="$('#attribute-row<?php echo $attribute_row; ?><?php echo $count; ?>').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>	
                    </tr>

				{% endfor %}
                      {% set attribute_row = attribute_row + 1 %}
                      {% set count = count + 1 %}
				   
                   
					{% endfor %}
				{% endif %}
				
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-left"><button type="button" onclick="addAttribute();" data-toggle="tooltip"  title="<?php //echo $button_attribute_add; ?>" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
				
              </div>
            </div>
          
           
          
            </div>
           
           
            
          
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <script type="text/javascript">

    $(document).ready(function() {
        $('#quetions').summernote();
    });

  </script>
  <script type="text/javascript"><!--
var attribute_row = {{ attribute_row }};
var count={{ count }};

function addAttribute() {
	html  ='';
	{% for language in languages %}
    html  += '<tr id="attribute-row' + attribute_row + + count + '">';
	html += '  <td class="text-left" style="width: 20%;"><div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span><input type="text" name="product_attribute[product_attribute_description]['+ count +'][{{language.language_id}}][name]" value="" placeholder="{{entry_attribute}}" class="form-control" /><input type="hidden" name="product_attribute[' + attribute_row + '][group_id]" value="" /></div></td>';
	html += '  <td class="text-left">';
	
	html += '<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span><textarea name="product_attribute[product_attribute_description]['+ count +'][{{language.language_id}}][text]" rows="5" placeholder="{{entry_text}}" class="form-control summernote"></textarea></div>';
   
	html += '  </td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#attribute-row' + attribute_row + +count+ '\').remove();" data-toggle="tooltip" title="{{button_remove}} class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
    html += '</tr>';
	{% endfor %}

	$('#attribute tbody').append(html);
	
	$('.summernote').summernote();	
		
	attribute_row++;
	count++;
}
</script>
  </div>
{{ footer }} 