{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_customer }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_admin }}</a></li>
            <li><a href="#tab-links" data-toggle="tab">{{ tab_customer }}</a></li>
            <li><a href="#tab-attribute" data-toggle="tab">{{ tab_customer }}</a></li>
          </ul>
          <div class="tab-content">
<!--create ticket-->         
		 <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
			  <div class="form-group">
				<label class="col-sm-4 control-label" for="input-subject">{{text_create }}</label> 
			 
				</div>
			  
              <div class="tab-content">{% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_subject }}</label>
                    <div class="col-sm-10">
                       <input type="text" name="create_ticket[{{ language.language_id }}][create][customer][customer_subject]" value="{{ create_ticket[language.language_id] ? create_ticket[language.language_id].subject }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_message }}</label>
                    <div class="col-sm-10">
                     <textarea name="create_ticket[{{ language.language_id }}][create][customer][customer_message]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ create_ticket[language.language_id] ? create_ticket[language.language_id].message }}</textarea>
                    </div>
                  </div>
                  
                </div>
                {% endfor %}</div>
            </div>
           
		   <div class="tab-pane" id="tab-data">
				
			 <div class="form-group">
			  <label class="col-sm-4 control-label" for="input-subject">{{ text_create_admin }}</label> 
			  </div>
			
             {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_subject }}</label>
                    <div class="col-sm-10">
                       <input type="text" name="create_ticket[{{ language.language_id }}][create][admin][admin_subject]" value="{{ create_ticket[language.language_id] ? create_ticket[language.language_id].subject }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_message }}</label>
                    <div class="col-sm-10">
                     <textarea name="create_ticket[{{ language.language_id }}][create][admin][admin_message]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ create_ticket[language.language_id] ? create_ticket[language.language_id].message }}</textarea>
                    </div>
                  </div>
                  
                </div>
                {% endfor %}
              
            </div>
           

<!-- Notify -->
		   <div class="tab-pane" id="tab-links">
             
             
               <div class="form-group">
			  <label class="col-sm-4 control-label" for="input-subject">{{ text_comment_admin }}</label> 
			  </div>
			
             {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_subject }}</label>
                    <div class="col-sm-10">
                       <input type="text" name="notify[{{ language.language_id }}][notify][admin][admin_subject]" value="{{ notify_ticket[language.language_id] ? notify_ticket[language.language_id].subject }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_message }}</label>
                    <div class="col-sm-10">
                     <textarea name="notify[{{ language.language_id }}][notify][admin][admin_message]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ notify_ticket[language.language_id] ? notify_ticket[language.language_id].message }}</textarea>
                    </div>
                  </div>
                  
                </div>
                {% endfor %}
             
             
            </div>
<!-- new comment -->  
  <div class="tab-pane" id="tab-attribute">
				<div class="form-group">
			  <label class="col-sm-4 control-label" for="input-subject">{{ text_comment }}</label> 
			  </div>
			
             {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_subject }}</label>
                    <div class="col-sm-10">
                       <input type="text" name="notify[{{ language.language_id }}][notify][customer][customer_subject]" value="{{ admin_notify_ticket[language.language_id] ? admin_notify_ticket[language.language_id].adminsubject }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_message }}</label>
                    <div class="col-sm-10">
                     <textarea name="notify[{{ language.language_id }}][notify][customer][customer_message]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ admin_notify_ticket[language.language_id] ? admin_notify_ticket[language.language_id].adminmessage }}</textarea>
                    </div>
                  </div>
                  
                </div>
                {% endfor %}
             
            </div>
           
           
            

            
          
           
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
 

  <script type="text/javascript"><!--
var recurring_row = {{ recurring_row }};

function addRecurring() {
	html  = '<tr id="recurring-row' + recurring_row + '">';
	html += '  <td class="left">';
	html += '    <select name="product_recurring[' + recurring_row + '][recurring_id]" class="form-control">>';
	{% for recurring in recurrings %}
	html += '      <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>';
	{% endfor %}
	html += '    </select>';
	html += '  </td>';
	html += '  <td class="left">';
	html += '    <select name="product_recurring[' + recurring_row + '][customer_group_id]" class="form-control">>';
	{% for customer_group in customer_groups %}
	html += '      <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>';
	{% endfor %}
	html += '    <select>';
	html += '  </td>';
	html += '  <td class="left">';
	html += '    <a onclick="$(\'#recurring-row' + recurring_row + '\').remove()" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>';
	html += '  </td>';
	html += '</tr>';

	$('#tab-recurring table tbody').append(html);

	recurring_row++;
}
//--></script> 
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickTime: false
});

$('.time').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickDate: false
});

$('.datetime').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickDate: true,
	pickTime: true
});
//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#option a:first').tab('show');
//--></script></div>
{{ footer }} 