{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-option" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          
           <div class="tab-content">
           
             <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{entry_status}}</label>
                <div class="col-sm-10">
                  <select name="config_status" id="input-choose_status" class="form-control">
                <option value="*">{{text_select_status}}</option>
                  {% for status in statusData %}
                
             
			
				 {% if status.status_id == config_status %}
                    <option value="{{status.status_id}}" selected="selected">{{status.name}}</option>
                    {% else %}
				 <option value="{{status.status_id}}">{{status.name}}</option>
                
             {% endif %}
				
				 {% endfor %}
				</select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-faq">{{entry_faq}}</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                      {% if config_faq %}
                      <input type="radio" name="config_faq" value="1" checked="checked" />
                      {{text_yes}}
                      {% else %}
                      <input type="radio" name="config_faq" value="1" />
                      {{text_yes}}
                      {% endif %}
                    </label>
                    <label class="radio-inline">
                      {% if not config_faq %}
                      <input type="radio" name="config_faq" value="0" checked="checked" />
                      {{text_no}}
                      {% else %}
                      <input type="radio" name="config_faq" value="0" />
                      {{text_no}}
                      {% endif %}
                    </label>
               
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
{{ footer }} 