{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-option" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> 
   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          
         <div style=""> <h3>{{tab_general}}</h3></div>
            <div class="col-sm-6" style= "border: 1px solid #ccc;">				  
				<div class="form-group ">
                    <label class="col-sm-3 control-label labview" for="input-task_title">{{entry_subject}}</label>
                    <div class="col-sm-9 viewali">
                      <div>{{subject}}</div>					 
                    </div>
                </div>			 
				<div class="form-group">
                    <label class="col-sm-3 control-label labview" for="input-description">{{entry_department}}</label>
                    <div class="col-sm-9 viewali">
                      <div>{{department}}</div>					  
                    </div>
				</div>
				<div class="form-group">
                    <label class="col-sm-3 control-label labview" for="input-start_date">{{entry_date_added}}</label>
                    <div class="col-sm-9 viewali">
					<div class="input-group datetime">
                      <div>{{date_added}}</div>				
                    </div>
                    </div>
                </div>				 
			</div>
				  
				  
			<!--user-->
				  
			<div class="col-sm-6" style= "border: 1px solid #ccc; ">				 
				<div class="form-group">
                <label class="col-sm-4 control-label labview" for="input-start_date">{{entry_customer}}</label>
                    <div class="col-sm-8 viewali">
					<div class="input-group datetime">
                      <div>{{customer}}</div>		
                    </div>
                    </div>
                </div>
				{% for info in user_info %}
				<div class="form-group">
                    <label class="col-sm-4 control-label labview" for="input-start_date">{{entry_email}}</label>
                    <div class="col-sm-8 viewali">
					<div class="input-group datetime">
                    <div>{{info.email }}</div>				
                    </div>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-sm-4 control-label labview" for="input-description">{{entry_telephone}}</label>
                    <div class="col-sm-8 viewali">
                      <div>{{info.telephone }}</div>					  
                    </div>
				</div>				 
				{% endfor %}
			</div>
				  
			<!-- message -->
				  
			
			<div class="col-sm-12" style="padding: 10px; background: #f9f9f9 ; border: 1px solid #ccc;">
				   <div class="form-group">
                    <label class="col-sm-2 control-label labview" for="input-start_date">{{entry_message}}</label>
                    <div class="col-sm-10 viewali">
					<div class="input-group datetime">
                      <div>{{message}}</div>			
                    </div>
                    </div>
                  </div>
				</div>
				 
				 <!-- files -->
			{% if file_info %}
			<div  class="col-sm-12" style="    margin-top: 40px;"> <h3>{{text_upload}}</h3></div>
			<div class="col-sm-12" style="padding: 10px; background: #f9f9f9 ; border: 1px solid #ccc;"> 
			<div class="form-group">
			<div class="col-sm-10" >
							
					
				{% for filename in  file_info %}
				
					

					<div class="col-sm-4">		
					<!---Model -->
						<div  style="font-size: 16px; padding-top: 13px;">
							<a class="btn btn-link" data-toggle="modal" data-target="#myModal{{filename.file_id }}">{{filename.file_name }}</a></div>
				
						<!-- Modal -->
						<div class="modal fade" id="myModal{{filename.file_id }}" role="dialog">
							<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">{{filename.file_name }}</h4>
							</div>
							<div class="modal-body">
							<div style="text-align: center;">
							<iframe src="./attachments/{{filename.file_name }}"
								style="width:500px; height:500px;" frameborder="0"></iframe>
								</div>
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
							</div>
							</div>
						</div>	
					<!--End model   -->						
					</div>
				{% endfor %}
			</div>
			</div>
			</div> 
			{% endif %}
			<!-- history-->
			<div  class="col-sm-12" style="margin-top:40px"> <h3>{{text_history}}</h3></div>
			<div class="col-sm-12" style= "border: 1px solid #ccc;">			     
			<div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{entry_status}}</label>
                <div class="col-sm-10" >	
			
                  <select name="status" id="input-status" class="form-control" >		
				 		
					{% for status in statusData %}
						
							{% if status.status_id == status_id %}
								<option value="{{status.status_id }}" selected="selected">{{status.name }}</option>
								
							{% else %}
							<option value="{{status.status_id }}" >{{status.name }}</option>
							{% endif %}
					{%  endfor %}
                  
                  </select>
                </div>
             </div>
                  
			<div class="form-group">
                  <label class="col-sm-2 control-label" for="input-notify">{{entry_notify}}</label>
                  <div class="col-sm-10 viewali">
				 
                    <input type="checkbox" id="input-notify"  class="messageCheckbox" name="notify" value="1">
				
                  </div>
                </div>
				
				
			<div class="form-group " > 
				  <div class="msgbox">
				 <label class="col-sm-2 control-label" for="input-comment1">{{entry_comment}}</label>
                    <div class="col-sm-10  ">
                      <textarea name="comment1"  placeholder="{{entry_comment}}"  id="input-comment1" class="form-control textscroll"></textarea></div>					  
					<div>					
					</div> 
					</div>
				</div>
					
			<div class="form-group " > 	
				<div class="pull-right" style="padding: 0px 15px;">
					<button type="button" onclick ="myFunction({{support}})" form="form-product"  data-toggle="tooltip" title="{{text_change_status}}" class="btn btn-primary"> 
					{{text_change_status}}</button>
				</div>
			</div>
			
			<div class="form-group " > 
				<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
						<td class="text-left">{{column_date_added}}</td>
							<td class="text-left">{{column_comment}}</td>
							<td class="text-left">{{column_status}}</td>        
							<td class="text-left">{{column_notify}}</td>
						</tr>
					</thead>
					<tbody id="history2">
						{% if histories %}
				{% for history  in histories %}
					<tr>
						<td class="text-left">{{history.date_added }}</td>
						<td class="text-left">{{history.message1 }}</td>
						<td class="text-left">{{history.status_id }}</td>        
						<td class="text-left">{{history.notify }}</td>
					</tr>
			{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="4">{{text_no_results}}</td>
					</tr>
				{% endif %}
					</tbody>
					</table>
				</div>
				</div>
			</div>		 
            </div>
			 <!-- ------Panel left close------ -->
		 <div class="col-sm-4 panel-right">
			 <!--Comment -->
	
			<div> 
			<h3>{{ text_comment }}</h3></div>
			<div class="col-sm-12" style=" border: 1px solid #ccc; ">	
			<div class="scrollup"style="margin-top: 8px;">
			
			 {% if CommentData %}
				  
			 
			<ul class="messages" style="list-style: none;padding-left: 0px;">
			  
			  
				{% for ComData in CommentData %}
					 
				{% if ComData.status =='2' %}			
				 	
					<li> 
						<b>{{ComData.name}}</b>
                        <div class="message_wrapper" style="padding: 10px 0px;">
                             <blockquote style="font-size: 12px;" class="message">{{ComData.comment}}</blockquote>
                              
                               <p class="url">
                               <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                              <a style="font-weight: bold;"><i class="fa fa-clock-o"></i>{{ComData.datetime}}</a>
                               </p>
                        </div>
                    </li>	 
			
				
				{% endif %}
				 
				  
				{% if ComData.status =='1' %}
				
				<li style="padding-left: 30px;">
					 <b>{{ ComData.name}}</b>                               
                      <div class="message_wrapper" style="background: #f9f9f9;padding: 10px 0px;">

                           <blockquote class="message" style="border-left: 5px solid #bfbfbf;color: #253b79;font-size: 12px;">{{ComData.comment}}</blockquote>
                             
                             <p class="url">
                             <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                        <a style="font-weight: bold;"><i class="fa fa-clock-o"></i>&nbsp{{ComData.datetime}}</a>
                             </p>
                       </div>
                  </li>
				{% endif %}
					{% endfor %} 
			</ul>	
				{% endif %}
				 
					
            </div>				  
			<div class="form-group " > 
				<div class="msgbox">				 
                    <div class="">
                      <textarea name="comment"  placeholder="{{entry_comment}}"  id="input-comment" class="form-control textscroll"></textarea>
					  </div>
				
					<div class="pull-right " style="padding: 15px 0px;">
					<button type="submit" form="form-product"  data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary">
					{{text_submit}}</button>
					</div>
				
				</div>
			</div>
			</div>
		  </div>
		  </div>
		 <!--commentEnd -->
        </form>
      </div>
    </div>
  </div>
  
  
  <script type="text/javascript"><!--

function myFunction(support_id) {


var comment1= $("#input-comment1").val()
  var chkPassport = document.getElementById("input-notify");
if (chkPassport.checked) {
//var notify=1;
var notify = $("#input-notify").val();

            //alert(notify);
        } else {
		var notify=0;
            //alert(notify);
        }

		
		
	
 var formData = {
 'comment1' : $("#input-comment1").val(),
 'status' : $("#input-status").val(),
'notify' : notify
 }
//alert(support_id);	
if(notify == '0' && formData['comment1'] == ''){
		alert('please enter some message');
		
		}
if(notify == '1' && formData['comment1'] == ''){
		alert('please enter some message');
		
		}

$.ajax({
     
      url: 'index.php?route=extension/module/support/history&user_token={{ user_token}}&support_id={{support}}',
      type: 'post',
	 data: formData,
		dataType: 'json',
	
      success: function(htmlf) {
		  if (htmlf) {
			
			  console.log(htmlf);
			 $("#history2").html(htmlf);	
}
	}	  
		  
});

}

//--></script>
  </div>
{{ footer }} 